{% extends 'layout_workspace.html' %} {% block body %} {% load static %} 

<div class="container">
    <div class="row">
        
       <div class="col-md-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio suscipit nemo eos fuga nihil doloribus nulla consectetur, natus a quibusdam. Doloribus temporibus reiciendis at alias provident voluptate repudiandae hic numquam?
       </div>
    </div>
</div>
<script src="{% static 'js/workspace/navegation.js' %}"></script>
{% endblock %}