#outer-dropzone {
  height: 400px;
}

.dropzone {
  background-color: #21242b;
  /* border: 2px dashed rgb(148, 146, 146); */
  border-radius: 4px;
  margin: 0;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s;
  background: 
  linear-gradient(to right, #606060 1px, transparent 1px),
  linear-gradient(to bottom, #606060 1px, transparent 1px);
  background-size: 20px 20px;
  border: 1px solid #6c6c6c;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body{
  background: #1b1d23;
  color: white;
}

.dropzone{
  margin: 0px;
}

.drag-drop{
  position: absolute;
}






