{% load humanize %}

<div class="row bg-light p-4 mb-4">
    <div class="col-md-6 text-center">

        <h6 class="display-6"> RESUMEN OFERTA </h6>

         <div class="row">

            <div class="col-4">

            </div>
            <div class="col-4">

                <div class="card-body" style="width: 16rem;">

                    <canvas id="myChart" width="100" height="100"></canvas>
        
                </div>
            <div class="col-4">
                
            </div>


            </div>
         </div>
        

        <div class="row mb-4">



        
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold bg-primary text-white" style="font-size: 0.6rem;">Total Oferta</span>
                        <span class="fs-3 fw-light">{{total_info.total_offer|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem; background-color:#1ca568;" >Total Facturado</span>
                        <span class="fs-3 fw-light">{{total_info.total_invoiced_in_offers|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem;background-color:#d0b514;">Total Pendiente</span>
                        <span class="fs-3 fw-light">{{total_info.total_remaining_sales_invoices|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span> 
                    </div>
                </div>
            </div>
        </div>

        {% if folder.project %}
        <div class="row">
            <h6 class="display-6"> ETAPA DEL PROYECTO </h6>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <td>
              
                    {% if folder.project.progress == 100 %}
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{folder.project.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{folder.project.progress}}%</div>
                        </div>
                        {% elif folder.project.progress >= 50 and project.progress < 100 %}
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: {{folder.project.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{folder.project.progress}}%</div>
                        </div>
                        {% else %}
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: {{folder.project.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{folder.project.progress}}%</div>
                        </div>
                    {% endif %}
                        
                    
                  </td>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-6 text-center">
        <h6 class="display-6"> RESUMEN ORDENES </h6>

        <div class="row">

            <div class="col-4">

            </div>
            <div class="col-4">

                <div class="card-body" style="width: 16rem;">

                    <canvas id="myChart2" width="100" height="100"></canvas>
        
                </div>
            <div class="col-4">
                
            </div>


            </div>
         </div>
        

        <div class="row">

            
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold bg-primary text-white" style="font-size: 0.6rem;">Total Ordenes</span>
                        <span class="fs-3 fw-light">{{total_info.total_orders|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem; background-color:#2e9195;" >Total Facturado</span>
                        <span class="fs-3 fw-light">{{total_info.total_in_order_invoices|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem;background-color:#e04c89;">Total Pendiente</span>
                        <span class="fs-3 fw-light">{{total_info.total_remaining_on_order_invoices|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">

                

            </div>
            <div class="col-4">

                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem; background-color:#d53d0c;" >Total Entregado</span>
                        <span class="fs-3 fw-light">{{total_info.total_delivered|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span> 
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem;background-color:#5d2747;">Total Pendiente</span>
                        <span class="fs-3 fw-light">{{total_info.total_remaining_delivered|floatformat:2|intcomma}}<span style="font-size: 0.6rem;" class="fw-bold bg-success text-white">USD</span></span> 
                    </div>
                </div>

            </div>
        </div>

        
        

        
    </div>
</div>


