{% load humanize %}

<div class="row bg-light p-4 mb-4">
    <div class="col-md-6 text-center">

        <h6 class="display-6"> RESUMEN OFERTA </h6>

         <div class="row">

            <div class="col-4">

            </div>
            <div class="col-4">

                <div class="card-body" style="width: 16rem;">

                    <canvas id="myChart" width="100" height="100"></canvas>
        
                </div>
            <div class="col-4">
                
            </div>


            </div>
         </div>
        

        <div class="row">

            
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold bg-primary text-white" style="font-size: 0.6rem;">Total Oferta</span>
                        <span class="fs-3 fw-light">{{offer_info.total_offer|floatformat:2|intcomma}}</span> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem; background-color:#1ca568;" >Total Facturado</span>
                        <span class="fs-3 fw-light">{{offer_info.total_invoiced|floatformat:2|intcomma}}</span> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem;background-color:#d0b514;">Total Pendiente</span>
                        <span class="fs-3 fw-light">{{offer_info.total_value_remaining|floatformat:2|intcomma}}</span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h6 class="display-6"> RESUMEN ORDENES </h6>

        <div class="row">

            <div class="col-4">

            </div>
            <div class="col-4">

                <div class="card-body" style="width: 16rem;">

                    <canvas id="myChart2" width="100" height="100"></canvas>
        
                </div>
            <div class="col-4">
                
            </div>


            </div>
         </div>
        

        <div class="row">

            
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold bg-primary text-white" style="font-size: 0.6rem;">Total Ordenes</span>
                        <span class="fs-3 fw-light">{{total_info_order.total_orders|floatformat:2|intcomma}}</span> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem; background-color:#2e9195;" >Total Facturado</span>
                        <span class="fs-3 fw-light">{{total_info_order.total_invoiced|floatformat:2|intcomma}}</span> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem;background-color:#e04c89;">Total Pendiente</span>
                        <span class="fs-3 fw-light">{{total_info_order.total_remaining_invoiced|floatformat:2|intcomma}}</span> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">

                

            </div>
            <div class="col-4">

                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem; background-color:#d53d0c;" >Total Entregado</span>
                        <span class="fs-3 fw-light">{{total_info_order.total_delivered|floatformat:2|intcomma}}</span> 
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body d-flex flex-column text-center">
                        <span class="fw-bold text-white" style="font-size: 0.6rem;background-color:#5d2747;">Total Pendiente</span>
                        <span class="fs-3 fw-light">{{total_info_order.total_remaining|floatformat:2|intcomma}}</span> 
                    </div>
                </div>

            </div>
        </div>

        
        

        
    </div>
</div>


