{% load humanize %}
<div class="card">
    <div class="card-header">

    
        <div class="row">
            <div class="col-6">
                <h4>FACTURAS</h4>

            </div>
            <div class="col-6 text-end">
                <a href="{% url 'create_invoice' project.id %}"  class="btn btn-success btn-sm"><i class="bi bi-plus-circle-dotted"></i> Nueva</a>
            </div>
        </div>

    </div>
       <div class="card-body p-0">

        <div class="table-responsive-md">
        <table class="table table-hover table-light">
          <thead>
            
        
            <tr>
              <th scope="col">Creado por:</th>
              <th scope="col">Numero de factura</th>
              <th scope="col">Precio total</th>
              <th scope="col">Tiempo</th>
              <th></th>
            </tr>
          
          </thead>
          <tbody>
            <tr>
              {% for invoice in invoices %}
  
              <td>{{invoice.usersession}}</td>
              <td>{{invoice.number}}</td>
              <td>{{invoice.total_price}}</td>
              <td>{{invoice.date|naturaltime}}</td>
              <td>

                <div class="dropdown d-inline">
                  <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                    <i class="bi bi-gear"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'show_invoice' invoice.id %}">Ver o Editar</a></li>
                    <li><a class="dropdown-item" href="{% url 'duplicate_invoice' invoice.id %}">Duplicar</a></li>
                    <li><a class="dropdown-item" href="{% url 'upload_invoice_file' invoice.id %}">Cargar archivo</a></li>
                    <!-- <li><a class="dropdown-item" href="">Descargar</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'delete_invoice' invoice.id %}" onclick="return confirm_delete_invoice()">Eliminar</a></li>
                  </ul>
                </div>
     
              </td>
            </tr>
            
            {%endfor%}
          </tbody>
        </table>
      </div>
      
       </div>
</div>