{% load humanize %}
<div class="card" id="tasks-card">
    <div class="card-header">
        

         <div class="row">
            <div class="col-6"><h4>Tareas</h4></div>
            <div class="col-6 text-end" >
                <a href="{% url 'create_task' folder.project.id %}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle-dotted"></i> Nueva</a>
            </div>
         </div>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
      {% for task in tasks %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{task.id}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{task.id}}" aria-expanded="false" aria-controls="flush-collapse{{task.id}}">
            
              
            <div class="container">
               
              <div class="row">
                <div class="col-2">
                  {{task.name}}
                </div>
                <div class="col-2">
                  {{task.start_date}} - {{task.due_date}}
                </div>
                
                <div class="col-2">
                {% for user in task.users.all %}
                {{user}},
                {% endfor %}
                </div>
                <div class="col-2">
                  
                  {{task.description}},
                  
                  </div>
                  <div class="col-2 text-center">

                     {% for item in comments_per_task %}

                     {% if item.task.id == task.id %}
                     
                    <span class="badge bg-primary rounded-pill">
                      
                      {{item.number_of_comments}}
                      <i class="bi bi-chat-left-text"></i>
                    </span>

                    <span class="badge bg-primary rounded-pill">
                      
                      {{item.number_of_files}}
                      <i class="bi bi-file-earmark-text"></i>
                    </span>
                    
                      {% endif %}
                    {% endfor %}
                  
                    
                    
                  </div>


                <div class="col-2 text-center">
                  {% if task.state == "pendiente" %}
                  <span class="p-2 bg-danger text-white">{{task.state}}</span>
                  {% elif task.state == "en proceso" %}
                  <span class="p-2 bg-warning text-white">{{task.state}}</span>
                  {% else %}

                  <span class="p-2 bg-success text-white">{{task.state}}</span>

                  {% endif %}
                </div>
              </div>
            </div>
          </button>
        </h2>
        <div id="flush-collapse{{task.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{task.id}}" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="container-flow mb-3">
            <div class="row">
              <div class="col-md-4">
                <a href="{% url 'edit_task' task.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger  btn-sm"><i class="bi bi-trash"></i></a>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
             </div>
            </div>
            {% for comment in comments %}

            {% if comment.task.id == task.id %}
            <div class="card mb-2 p-2">
              <span class="fst-normal" style="font-size: 0.7rem;"><span class="fw-bold">comentario de:</span> {{comment.usersession}} <a href="{% url 'delete_comment' comment.id %}" class="btn btn-light btn-sm" ><i class="bi bi-trash"></i></a>
            </span>
     
            <span class="fst-normal" style="font-size: 0.7rem;"><span class="fw-bold">Fecha:</span> {{comment.date}}</span>
         
            <span class="fst-normal">{{comment.message}}</span>

            </div>
            

            {% endif %}


            {% endfor %}

            {% for file in task_files %}

            {% if file.task.id == task.id %}

            <div class="card mb-2 p-2">
              <span class="fst-normal" style="font-size: 0.7rem;">El usuario: <span class="fw-bold">{{file.usersession}}</span>  subio el archivo: <span class="fw-bold"><a href="{% url 'view_file' file.id %}">{{file.name}}</a></span> <a href="{% url 'delete_file' file.id %}" class="btn btn-light btn-sm" ><i class="bi bi-trash"></i></a> </span>
              <span class="fst-normal" style="font-size: 0.7rem;"><span class="fw-bold">Fecha:</span> {{file.date}}</span>
              

            </div>


            {% endif %}
                 
            {% endfor %}
          
          </div>
        </div>
      </div>

      {% endfor %}

      
      
    </div>
      
</div>