{% load humanize %}
<div class="card">
    <div class="card-header">
        

         <div class="row">
            <div class="col-6"><h4>REMISIONES</h4></div>
            <div class="col-6 text-end" >
                <a href="{% url 'create_remission' project.id %}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle-dotted"></i> Nueva</a>
            </div>
         </div>
    </div>

         <div class="table-responsive-md">
    
        <table class="table table-hover table-light table-sm">
          <thead>
            
        
            <tr>
            <th scope="col">Creado por:</th>
              <th scope="col">Remisión#</th>
              <th scope="col">Tiempo</th>
              <th ></th>
            </tr>
          
          </thead>
          <tbody>
            <tr>
              {% for remission in remissions %}
              <td>{{remission.usersession}}</td>
              <td>{{remission.number}}</td>
              {% for file_info in remission_files_info %}
              {%  if file_info.remission_id == remission.id  %}
              <td>{{file_info.quantity}}<i class="bi bi-file-earmark-text"></i></td>
              {% endif %}
              {% endfor %}
              <td>{{remission.date|naturaltime}}</td>
              <td>
                 
                <div class="dropdown d-inline">
                  <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                    <i class="bi bi-gear"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item"  href="{% url 'show_remission' remission.id %}">Ver o Editar</a></li>
                    <li><a class="dropdown-item" href="{% url 'duplicate_remission' remission.id %}">Duplicar</a></li>
                    <li><a class="dropdown-item" href="{% url 'upload_remission_file' remission.id %}">Cargar archivo</a></li>
                    <li><a class="dropdown-item" href="{% url 'download_remission' remission.id %}">Descargar</a></li>
                    <li><a class="dropdown-item" href="{% url 'delete_remission' remission.id %}" onclick="return confirm_delete_remission()">Eliminar</a></li>
                  </ul>
                </div>
              
              
              </td>
            </tr>
    
            {%endfor%}
          </tbody>
        </table>
      </div>
      
</div>