
  <!-- Button trigger modal -->


<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Agregar
  </button>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">CAMBIAR MODULO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
         <form action="" method="POST">
                {% csrf_token %}
                {{addcontroller.as_p}}
                <input type="text" name="sheet_id" value="{{sheet_id}}" hidden>
            <button class="btn btn-primary">Agregar</button>
        </form>
        </div>
      </div>
    </div>
  </div>