{% load static %}

  <div class="card-header text-white" style="background-color: #005bc5;">HVAC AIRE</div>


  
<div class="accordion accordion-flush" id="accordionHVACaire">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Ductos
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionHVACaire">
      <div class="accordion-body">
        
      {% for item in panelitems %}
      {% if item.tag == 'ducts' %}
      <img id="item" pk="{{item.id}}" src="{% static item.img %}" alt="items" style="width: {{item.width}}px;"  description="{{item.product.description}}" draggable="true" >
      {% endif %}
      {% endfor %}

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
       
        Coils
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionHVACaire">
      <div class="accordion-body">
        {% for item in panelitems %}
        {% if item.tag == 'coils' %}
        <img id="item" pk="{{item.id}}" src="{% static item.img %}" alt="items" style="width: {{item.width}}px;"  description="{{item.product.description}}">
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Sensores
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionHVACaire">
      <div class="accordion-body">
        {% for item in panelitems %}
        {% if item.tag == 'sensors' %}
        <img id="item" pk="{{item.id}}" src="{% static item.img %}" alt="items" style="width: {{item.width}}px;"  description="{{item.product.description}}" >
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>


  
 

<div class="card-header text-white" style="background-color: #005bc5;">HVAC AGUA</div>

<div class="accordion accordion-flush" id="accordionHVACagua">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Ductos
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionHVACagua">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, aspernatur!</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
       Coils
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionHVACagua">
      <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quod.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Sensores
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionHVACagua">
      <div class="accordion-body">lorem10</div>
    </div>
  </div>
</div>
