{% load static %}

{% for category in categorys %}
<div class="card-header text-white" style="background-color: #005bc5;">{{category.name}}</div>

<div class="accordion accordion-flush" id="accordionHVAC">
  {% for subcategory in subcategorys %}
  {% if category.id == subcategory.category.id %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading{{subcategory.tag}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{subcategory.tag}}" aria-expanded="false" aria-controls="flush-collapse{{subcategory.tag}}">
        {{subcategory.name}}
      </button>
    </h2>
    <div id="flush-collapse{{subcategory.tag}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{subcategory.tag}}" data-bs-parent="#accordionHVAC">
      <div class="accordion-body">
        
      {% for item in panelitems %}
      {% if  subcategory.tag == item.tag %}
      <img id="item" pk="{{item.id}}" src="{% static item.img %}" alt="items" style="width: {{item.width}}px;"  description="{{item.product.description}}" draggable="true" >
      {% endif %}
      {% endfor %}

      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>


{% endfor %}


  
<!--  

<div class="card-header text-white" style="background-color: #005bc5;">HVAC AGUA</div>

<div class="accordion accordion-flush" id="accordionHVACagua">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Ductos
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionHVACagua">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, aspernatur!</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
       Coils
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionHVACagua">
      <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quod.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Sensores
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionHVACagua">
      <div class="accordion-body">lorem10</div>
    </div>
  </div>
</div> -->
