<div class="card bg-dark">
  <div class="card-header bg-secondary">Configuracion</div>
</div>

<div id="panel" class="card bg-dark">
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-sm">Item</span>
    <input
      type="text"
      class="form-control bg-dark text-white"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
      value=""
    />
  </div>
  <select
    class="form-select form-select-sm mb-3 bg-dark text-white"
    aria-label=".form-select-sm example"
  >
    <option selected>Tipo de sensor</option>
    <option value="1">DPT</option>
    <option value="2">DPS</option>
    <!-- <option value="3">Three</option> -->
  </select>

  <select
    class="form-select form-select-sm mb-3 bg-dark text-white"
    aria-label=".form-select-sm example"
  >
    <option selected>Modelo</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

  <select
    class="form-select form-select-sm mb-3 bg-dark text-white"
    aria-label=".form-select-sm example"
  >
    <option selected>Marca</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <button class="btn btn-primary btn-sm">Buscar en el inventario</button>
</div>
