<div class="card" style="height: 280px;">
  <div class="card-header text-white" style="background-color: #005bc5;">Parametros</div>
  <div id="panel" class="card">
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">Etiqueta</span>
      <input id="input-tag" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">Item</span>
      <input id="inputitem" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">x</span>
      <input id="inputx" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">y</span>
      <input id="inputy" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">Ancho</span>
      <input id="inputwidth" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>  
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">Alto</span>
      <input id="inputheight" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>  
    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">z-index</span>
      <input id="inputzindex" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>  

    <div class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">relationship</span>
      <input id="input-relationship" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>  
 
  </div>
</div>
<div class="card" style="height: 200px;" >
  <div class="card-header text-white" style="background-color: #005bc5;">Descripción</div>
  <div id="panel2" class="card fs-6 fw-light p-2 border-0" >
 
  </div>
</div>




