<div class="card" id="remission-form">

    <div class="card-header text-white" style="background: #005bc5;">
      <span class="fs-6 fw_light">
         REMISIÓN   
    </div>
  
  
    <div class="card-body p-4">

      <div class="mb-3">
        <label for="project-input">Proyecto:</label>
        <input type="text" class="form-control" id="project-input" value="{{project.name}}" disabled>
      </div>
     
      <form action="" method="POST" id="form">
        {% csrf_token %}
        {{form.as_p}}
    
        <button class="btn btn-primary mb-2" style="width: 100%;" id="btn-save">Guardar</button>
    
    </form>
    <a href=" {% url 'remissions' %}" class="btn btn-link">Ver remisiones generadas</a>
    </div>

  </div>