 
            <tr>
                <td>
  
                  SUBTOTAL SUMINISTROS Y DESARRROLLO (USD)
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="0" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  id="subtotal"
                  >
                 
  
                </td>
              </tr>
  
              <tr>
                <td>
  
                  DESCUENTO
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="0" 
                  class="form-control form-control-sm"
                  id="descuento"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  id="valor-con-descuento"
                  >
                 
  
                </td>
              </tr>
  
              <tr>
                <td>
  
                  SUBTOTAL MENOS(-) DESCUENTO
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
  
                </td>
              </tr>
  
              <tr>
                <td>
  
                  ADMINISTRACION
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
  
                </td>
              </tr>
  
  
              <tr>
                <td>
  
                  IMPREVISTOS
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
  
                </td>
              </tr>
  
              <tr>
                <td>
  
                  UTILIDADES
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
  
                </td>
              </tr>
  
              <tr>
                <td>
  
                  SUBTOTAL COSTO DIRECTO + INDIRECTO
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
  
                </td>
              </tr>
  
  
              <tr>
                <td>
  
                  IVA/UTILIDAD
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
  
                </td>
              </tr>
  
              <tr>
                <td>
  
                  VALOR TOTAL (USD) DÓLAR ESTADOUNIDENSE
  
                </td>
                <td style="width: 80px;">
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
                </td>
                <td>
                  <input type="number" 
                  value="" 
                  class="form-control form-control-sm"
                  >
                 
  
                </td>
              </tr>