
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load static %}

<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <h4 class="display-6  text-center card p-2">CARRITO DE PRODUCTOS</h4>
        </div>
        
    </div>
    <div class="row">
      
       <div class="col-md-12">
        
       
        <div class="notification-save">
            <span>Los parametros han sido guardado correctamente</span>
        </div>

        {% include 'components/car.html' %}
       </div>
      
      
    </div>
  </div>
  
{% endblock %}