
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load static %}

<div class="container bg-light p-3">
    <div class="row">
        
       <div class="col-md-12">

        <h4 class="display-6">NUEVA FACTURA PARA, {{project.name}}</h4>

        {% include 'components/alert.html'%}
        {% include 'components/invoice_comp.html' with project=project %}

      
       
       </div>
  
     
      
    </div>

    <div class="row">
        <div class="col-md-12" >
            
        {% include 'components/car.html' %}
        </div>
    </div>
     
    </div>
  </div>

{% endblock %}