
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load static %}

<div class="container p-5 bg-light">

    <div class="row">
      <div class="col-md-8">
        <h4 class="display-6">NUEVA REMISIÓN, PARA {{project_from_offer.name}}</h4>
      </div>
      <div class="col-md-4"></div>
     
    </div>
   
    <div class="row">
    
      {% include 'components/alert.html'%}
      {% include 'components/remission_comp.html' with project=project %}

       
       
      
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'components/car.html' %}
      </div>
    </div>
  </div>

  <script src="{% static 'js/reorhidden.js' %}"></script>
  
{% endblock %}