{% extends 'layout_with_folder_tree.html' %} {% block body %}

<div class="container">
    <div class="row m-4">
      <div class="col">
    
      </div>
      <div class="col">

        <div class="card">
          <div class="card-body">
            {% if form.errors %}
            <div class="errors">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
                </div>
            {% endif %}
            <form action="" method="POST" class="">
                {% csrf_token %}

                <div class="row row-cols-2">
                  {{form.as_p}}
                </div>
                
            
                <button class="btn btn-primary" style="width: 100%;">Guardar</button>
            
            </form>

          </div>
        </div>

        
      </div>
      <div class="col">
      
      </div>
    </div>
  </div>


{% endblock %}
