
{% extends 'layout.html' %} {% block body %}

<div class="container">
    <div class="row">
          
        <div class="col-3">

        <div class="card">
          <div class="card-header text-white" style="background: #005bc5;">
            <span class="fs-6 fw_light">
                {{tab.tab_name}}
            </span>
        
          </div>


          <div class="card-body p-4">
            <h5>Crear Página</h5>
            {% include 'components/form.html' %}

          </div>
         
        </div>
        
        </div>
      
      <div class="col-6">
  
        <table class="table table-hover table-light">
          <thead>
            
        
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre del Equipo</th>
              <th scope="col"></th>
            </tr>
          
          </thead>
          <tbody>
            <tr>
              {% for page in page_obj %}
  
                <th scope="row">{{page.id}}</th>
              <td>{{page.name}}</td>
              <td>
                <a class="btn btn-primary btn-sm" href="{% url 'dashboard' page.id %}"> <i class="bi bi-box-arrow-right"></i></a> 
                <button class="btn btn-success btn-sm"><i class="bi bi-pencil-square"></i></button>
                <a class="btn btn-danger btn-sm" href="{% url 'delete_page' page.id %}" onclick="return verificar()"> <i class="bi bi-trash"></i> </a>

              </td>
            </tr>
  
          
              
            {%endfor%}
          </tbody>
        </table>
      
        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; Primero</a>
                  <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
              {% endif %}
      
              <span class="current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
              {% endif %}
          </span>
      </div>
      </div>
      <div class="col-3">
          <a href="{% url 'tabs' tab.project.id %}" class=" btn btn-primary btn-sm">Volver</a>
      </div>
      
    </div>
  </div>

{% endblock %}