
{% extends 'layout.html' %} {% block body %} {% load static %}

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary mb-3" id="btnrm">Generar una remisión</button>

        <button class="btn btn-primary mb-3" id="btnor">Generar una Orden</button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">

     
          
       <div class="col-md-4">
     
        {% if messages %}
          
        {% for message in messages %}
  
            {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
            {{ message }}
            </div>
            {% endif %}
  
            {% if message.tags == 'info' %}
            <div class="alert alert-warning" role="alert">
            {{ message }}
            </div>
            {% endif %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
            {% endif %}
  
        {% endfor %}
    
    
    {% endif %}
    {% include 'components/remissionForm.html' %}
    {% include 'components/orderForm.html' %}
       </div>
       <div class="col-md-8">
        <div class="notification-save">
          <span>Los parametros han sido guardado correctamente</span>
        </div>
          {% include 'components/car.html' %}
       </div>
       
      
    </div>
  </div>

  <script src="{% static 'js/reorhidden.js' %}"></script>
  <script src="{% static 'js/save_car.js' %}"></script>
{% endblock %}