
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load static %}{% load humanize %}

<div class="container">
    <div class="row">
       

        <div class="col-4">
             <div class="card">
                <div class="card-header text-center">
                    GENERAR UNA FACTURA
                </div>
                <div class="card-body">
                    {% if messages %}
          
                        {% for message in messages %}

                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                            {{ message }}
                            </div>
                            {% endif %}

                            {% if message.tags == 'info' %}
                            <div class="alert alert-warning" role="alert">
                            {{ message }}
                            </div>
                            {% endif %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                            {{ message }}
                            </div>
                            {% endif %}

                        {% endfor %}
                    
                    
                    {% endif %}
                     <form method="post">
                        {% csrf_token %}

                           <div class="row g-3">
                             <div class="col-6">
                              <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Orden de compra</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" value="{{order.code}}" name="code" disabled>
                              </div>
                             </div>
                             <div class="col-6">
                              <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Valor total(OC)</label>
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="{{order.total_price}}" name="total_price" disabled>
                              </div> 
                             </div>

                             <div class="col-6">
                              <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Valor Pagado</label>
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="{{total_invoice.total_value}}" name="value_paid" min="0" step="any" disabled>
                              </div> 
                             </div>
                             <div class="col-6">
                              <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Valor restante</label>
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="{{total_invoice.total_leftover}}" name="leftover_value" min="0" step="any" disabled>
                              </div> 
                             </div>
                             <div class="col-6">

                              <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">valor IVA</label>
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="{{total_invoice.iva}}" name="iva" min="0" step="any">
                              </div> 
                             </div>
                             <div class="col-6">
                              <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Rentencion en la fuente</label>
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="{{total_invoice.ica_rete}}" name="source_retention" min="0" step="any">
                              </div>
                             </div>
                             <div class="col-6">
                              <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Retencion ICA</label>
                                
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="{{total_invoice.source_rete}}" name="ica_retention" min="0" step="any">
                              </div> 
                            
                             </div>
                             <div class="col-6">
                              <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Valor a Abonar</label>
                                {% if total_invoice.total_leftover == 0 %}
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="" placeholder="Completado!" name="amount_to_pay" min="0" step="any" disabled>
                                {% else %}
                                <input type="number" class="form-control" id="exampleFormControlInput3" value="{{total_invoice.total_leftover}}" name="amount_to_pay" min="0" step="any">

                                {% endif %}
                              </div> 
                             </div>
                           </div>
                           {% if total_invoice.total_leftover == 0 %}
                          <button type="submit" class="btn btn-primary w-100" disabled>Guardar</button>
                          {% else %}
                          <button type="submit" class="btn btn-primary w-100">Guardar</button>

                          {% endif %}
                     </form>
                    
                </div>
             </div>

        </div>
        <div class="col-md-8">
            <a href="{% url 'purcharse_order' %}" class=" btn btn-primary btn-sm">Volver</a>
            <a href="{% url 'order_product_info' order.id %}" class=" btn btn-primary btn-sm">Ver Resumen</a>

            <div class="table-responsive">
                <table class="table table-hover table-light">
                  <thead>
                    
                
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Generada por:</th>
                      <th scope="col">Orden de compra</th>
                      <th scope="col">Precio pagado</th>
                      <th scope="col">Valor iva</th>
                      <th scope="col">Rete fuente</th>
                      <th scope="col">rete ICA</th>
                      <th scope="col">Fecha</th>
                      <th></th>
      
                    </tr>
                  
                  </thead>
                  <tbody>
                    <tr>
                      {% for invoice in invoices %}
          
                      <th scope="row">{{invoice.id}}</th>
                      <td>{{invoice.usersession}}</td>
                      <td>{{invoice.order.code}}</td>
                      <td>{{invoice.value_paid|intcomma}}</td>
                      <td>{{invoice.iva|intcomma}}</td>
                      <td>{{invoice.source_retention|intcomma}}</td>
                      <td>{{invoice.ica_retention|intcomma}}</td>
                      <td>{{invoice.date}}</td>
                      <td>
                       
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_order_invoice' invoice.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar la remisión" onclick="return confirm_delete_entry()"> <i class="bi bi-trash"></i> </a>
                      </td>
                    </tr>
          
                    {%endfor%}
                  </tbody>
                </table>
              </div>
        </div>
           
         
    </div>
</div>
<script src="{% static 'js/confirm.js' %}"></script>

{% endblock %}