{% extends 'layout.html' %} {% block body %} {% load static %}

<div class="container">
  <div class="row mb-4">

   <div class="col-4"></div>
   <div class="col-4">
    <div class="card bg-dark p-2">
      <span class="fs-6 fw_light">
        Proyecto: {{project.name}}
    </span>
    <span class="fs-6 fw-light">
        Dibujante: {{project.dibujante}}
    </span>
    <span class="fs-6 fw-light">
      Fecha: {{project.date}}
  </span>
  <span class="fs-6 fw-light">
    Aprobado Por: {{project.approved}}
</span>
    <span class="fs-6 fw-light">
      Nombre de pagina: {{dashboard.name}}
  </span>
  </div>
   </div>
   <div class="col-4"></div>

  </div>

  <div class="row mb-4">
    <div class="col-4">
      <!-- <button class="btn btn-primary">
        <i class="bi bi-file-earmark-plus"></i>
      </button> -->
      
      
    </div>
    <div class="col-4 d-flex justify-content-between">

      <input id="dashboard_id" type="text" value="{{dashboard.id}}" hidden >
      <form action="" id="form">
        {% csrf_token %}
        <button id="save" class="btn btn-success btn-sm" type="submit">
          <i class="bi bi-floppy"></i>
        </button>
      </form>
      
      <form action="" id="form2">
        {% csrf_token %}
        <button id="delete" type="submit" class="btn btn-danger btn-sm" disabled><i class="bi bi-trash"></i> </button>
      </form>
      <button id="clone" class="btn btn-primary btn-sm" disabled><i class="bi bi-copy"></i></button>
      <button id="on" class="btn btn-primary btn-sm " disabled>Encima</button>
       <button id="under" class="btn btn-primary btn-sm" disabled>Debajo</button>
       
    </div>
    <div class="col-4"></div>
    </div>
   
  <div class="row">
    <div class="col-md-2">


      
      {% include 'components/panelLeft.html' %}
      
     
    </div>
    <div class="col-md-8">
      
      
      <div id="outer-dropzone" class="dropzone position-relative">

        {% for item in items %}
        {% if dashboard.id == item.dashboard.id%}
        <img pk="{{item.img.id}}" id_code="{{item.id_code}}" class="drag-drop" src="{% static item.img %}" alt="items" style=" transform: translate({{item.x}}px,{{item.y}}px); z-index:{{item.zindex}}; width: {{item.width}}px; height: {{item.height}}px;" data-x="{{item.x}}" data-y="{{item.y}}">
        {% endif %}
        {% endfor %}
      </div>


    </div>
    <div class="col-md-2">
      {% include 'components/panelRight.html' %}
    </div>
  </div>
</div>
<script src="{% static 'js/save.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>





{% endblock %}
