{% extends 'layout.html' %} {% block body %} {% load static %}

<div class="container">
  <div class="row mb-4">

   <div class="col-4">
    
   </div>
   <div class="col-4 d-flex justify-content-center">
    <div class="bg-dark p-2">
      <span class="fs-6 fw_light">
       {{tab.project.name}} --
    </span>
    <span class="fs-6 fw-light">
      {{tab.tab_name}} --
  </span>
    <span class="fs-6 fw-light">
      {{dashboard.name}}
  </span>
  </div>
   </div>
   <div class="col-4"></div>

  </div>

  <div class="row mb-4">
    <div class="col-4">
      <!-- <button class="btn btn-primary">
        <i class="bi bi-file-earmark-plus"></i>
      </button> -->
      
    
    </div>
    <div class="col-4 d-flex justify-content-between">

      <input id="dashboard_id" type="text" value="{{dashboard.id}}" hidden >
      <form action="" id="form">
        {% csrf_token %}
        <button id="save" class="btn btn-success btn-sm" type="submit" disabled>
          <i class="bi bi-floppy"></i>
        </button>
      </form>
      
      <form action="" id="form2">
        {% csrf_token %}
        <button id="delete" type="submit" class="btn btn-danger btn-sm" disabled><i class="bi bi-trash"></i> </button>
      </form>
      <button id="clone" class="btn btn-primary btn-sm" disabled><i class="bi bi-copy"></i></button>
      
       <button id="btnlabel" class="btn btn-primary btn-sm"><i class="bi bi-bookmark-plus"></i></button>
       <button id="btnInventory" type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-search"></i>
      </button>
      <button id="on" class="btn btn-primary btn-sm " disabled>Encima</button>
       <button id="under" class="btn btn-primary btn-sm" disabled>Debajo</button>
       <button id="btntotal" class="btn btn-warning btn-sm"><i class="bi bi-cart"></i></button>
      {% include 'components/dashboardModal.html' %}
      
    </div>
    <div class="col-4">
     
    </div>
    </div>
   
  <div class="row">
    
    <div class="col-md-2">


      
      {% include 'components/panelLeft.html' %}
      
     
    </div>
    <div class="col-md-8">

      <input id="dashboard-id" type="text" value="{{dashboard.id}}" hidden>
      <div id="notification-box">
       <div id="alert" hidden >
         <span>Recuerda Guardar!!</span>
       </div>
      </div>
      
      <div id="outer-dropzone" class="dropzone position-relative">

        {% for item in items %}
        {% if dashboard.id == item.dashboard.id%}
        <img pk="{{item.img.id}}" id_code="{{item.id_code}}" class="drag-drop" src="{% static item.img %}" alt="items" style="transform: translate({{item.x}}px,{{item.y}}px);z-index:{{item.zindex}}; width: {{item.width}}px;"  product_id="{{item.product.id}}" data-x="{{item.x}}" data-y="{{item.y}}">
        {% endif %}
        {% endfor %}
        {% for label in labels %}
        {% if dashboard.id == label.dashboard.id%}
        <input id_code="{{label.id_code}}" value="{{label.value}}" class="drag-drop text-center" alt="labels" style=" transform: translate({{label.x}}px,{{label.y}}px); z-index:{{label.zindex}}; width: {{label.width}}px; height: {{label.height}}px; background-color:rgba(0, 0, 0, 0); color:white; " data-x="{{label.x}}" data-y="{{label.y}}">
        {% endif %}
        {% endfor %}
      </div>


    </div>
    <div class="col-md-2">
      {% include 'components/panelRight.html' %}
    </div>
  </div>
</div>
<script  type="module" src="{% static 'js/dashboard/total.js' %}"></script>
<script src="{% static 'js/dashboard/main.js' %}"></script>
{% endblock %}
