
{% extends 'layout.html' %} {% block body %} {% load static %}

<div class="container">
    <div class="row">
       
        
        <div class="col-4">
             <div class="card">
                <div class="card-header text-center">
                    EDITAR REMISIÓN
                </div>
                <div class="card-body">
                    {% if messages %}
          
                        {% for message in messages %}

                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                            {{ message }}
                            </div>
                            {% endif %}

                            {% if message.tags == 'info' %}
                            <div class="alert alert-warning" role="alert">
                            {{ message }}
                            </div>
                            {% endif %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                            {{ message }}
                            </div>
                            {% endif %}

                        {% endfor %}
                    
                    
                    {% endif %}
                     <form method="post">
                        {% csrf_token %}
                          <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">CIUDAD</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{remission.city}}" name="city">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">RAZON SOCIAL</label>
                            <input type="text" class="form-control" id="exampleFormControlInput2" value="{{remission.company}}" name="company">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlInput3" class="form-label">NIT</label>
                            <input type="text" class="form-control" id="exampleFormControlInput3" value="{{remission.nit}}" name="nit">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlInput4" class="form-label"></label>
                            <input type="text" class="form-control" id="exampleFormControlInput4" value="{{remission.location}}" name="location">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlInput5" class="form-label"></label>
                            <input type="text" class="form-control" id="exampleFormControlInput5" value="{{remission.project}}" name="project">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlInput6" class="form-label"></label>
                            <input type="text" class="form-control" id="exampleFormControlInput6" value="{{remission.responsible}}" name="responsible">
                          </div>
                          <button type="submit" class="btn btn-primary">Guardar</button>
                     </form>
                    
                </div>
             </div>

        </div>
        <div class="col-md-8">
            <a href="{% url 'remissions' %}" class=" btn btn-primary btn-sm">Volver</a>
            <table class="table table-hover table-light">
              <thead>
                
            
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Descripción</th>
                  <th scope="col"></th>
                </tr>
              
              </thead>
              <tbody>
                <tr>
                  {% for product in products %}
      
                  <th scope="row">{{product.id}}</th>
                  <td>{{product.product.product_name}}</td>
                  <th>{{product.product.model}}</th>
                  <td>{{product.quantity}}</td>
                  <td>{{product.product.description}}</td>
                  <td>
                       
                   
                    <a class="btn btn-danger btn-sm" href="{% url 'delete_remission_product' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar producto" onclick="return confirm_delete_remission_product()"> <i class="bi bi-trash"></i> </a>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
        </div>
           
         
    </div>
</div>
<script src="{% static 'js/confirm.js' %}"></script>

{% endblock %}