
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load static %}

<div class="container">
    <div class="row">
       
        <div class="col-2"></div>
        <div class="col-8">
             <div class="card">
                <div class="card-header text-center">
                    EDITAR PRODUCTO
                </div>
                <div class="card-body">
                    {% include 'components/alert.html' %}
                     <form method="post">
                        {% csrf_token %}

                           <div class="row g-3 mb-3">
                            <div class="col-md-6 ">
                           
                                <label for="exampleFormControlInput1" class="form-label">CODE</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" value="{{product.code}}" name="code">
                         
                            </div>
                            <div class="col-md-6">
                             
                                <label for="exampleFormControlInput2" class="form-label">NOMBRE DEL PRODUCTO</label>
                                <input type="text" class="form-control" id="exampleFormControlInput2" value="{{product.product_name}}" name="product_name">
                           
                            </div>
                            <div class="col-md-6">
                             
                          
                                <label for="exampleFormControlInput3" class="form-label">REFERENCIA DE FABRICA</label>
                                <input type="text" class="form-control" id="exampleFormControlInput3" value="{{product.factory_ref}}" name="factory_ref">
                           
                          </div>
                          <div class="col-md-6">
                             
                        
                              <label for="exampleFormControlInput4" class="form-label">MODELO</label>
                              <input type="text" class="form-control" id="exampleFormControlInput4" value="{{product.model}}" name="model">
                       
                          </div>

                          <div class="col-md-6">
                            <label for="exampleFormControlInput5" class="form-label">PRECIO DE COMPRA</label>
                            <input type="text" class="form-control" id="exampleFormControlInput5" value="{{product.purcharse_price}}" name="purcharse_price">
                          </div>


                          <div class="col-md-6">
                            <label for="exampleFormControlInput5" class="form-label">PRECIO DE VENTA</label>
                            <input type="text" class="form-control" id="exampleFormControlInput5" value="{{product.sale_price}}" name="sale_price">
                          </div>
                          
                  
                          <div class="col-md-6">
                            <label for="exampleFormControlInput6" class="form-label">MARCA</label>
                            <input type="text" class="form-control" id="exampleFormControlInput6" value="{{product.brand}}" name="brand">
                          </div>
                          <div class="col-md-6">
                            <label for="exampleFormControlInput7" class="form-label">UBICACIÓN</label>
                            <input type="text" class="form-control" id="exampleFormControlInput7" value="{{product.location}}" name="location">
                          </div>

                          <div class="col-md-6">
                            <label for="exampleFormControlInput7" class="form-label">CANTIDAD</label>
                            <input type="text" class="form-control" id="exampleFormControlInput7" value="{{product.quantity}}" name="quantity">
                          </div>
                          <div class="col-md-6">
                            <label for="exampleFormControlInput8" class="form-label">PUNTOS</label>
                            <input type="text" class="form-control" id="exampleFormControlInput8" value="{{product.point}}" name="point">
                          </div>
                          <div class="col-md-6">
                            <label for="exampleFormControlInput8" class="form-label">stock minimo</label>
                            <input type="text" class="form-control" id="exampleFormControlInput8" value="{{product.min_stock}}" name="min_stock">
                          </div>
                          <div class="col-md-6">
                            <label for="exampleFormControlInput8" class="form-label">U. Medida</label>
                            <input type="text" class="form-control" id="exampleFormControlInput8" value="{{product.measure}}" name="measure">
                          </div>
                          <div class="col-md-12">
                            <label for="exampleFormControlInput8" class="form-label">OBSERVACIÓN</label>
                            <input type="text" class="form-control" id="exampleFormControlInput8" value="{{product.observation}}" name="observation">
                          </div>
                          <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px" name="description">{{product.description}}</textarea>
                              <label for="floatingTextarea">DESCRIPCIÓN</label>
                            </div>
                          </div>

                        </div>
                         
                          
                          
                      
                    
                          <button type="submit" class="btn btn-primary w-100">Guardar</button>
                     </form>
                    
                </div>
             </div>

        </div>
        <div class="col-2">
            
        </div>
           
         
    </div>
</div>


{% endblock %}