{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load static %} {% load humanize %}

<div class="container">

  <div class="row">
    {% include 'components/alert.html' %}
    {% include 'components/offer_comp/header.html' %}
  </div>

    <div class="row">

      <div class="col-md-4">

        
        <table class="table bg-light table-bordered">
        
          <tbody>
            <tr>
              <th>OFERTA COMERCIAL:</th>
              <td>{{project.code}}</td>
            </tr>
            <tr>
              <th>PROYECTO:</th>
              <td><a href="{% url 'overview_folder' folder.id %}">{{project.name}}</a></td>
            </tr>
            <tr>
              <th>CLIENTE:</th>
              <td>{{project.company_name}}</td>
            </tr>
            <tr>
              <th>NIT:</th>
              <td>{{project.nit}}</td>
            </tr>
            <tr>
              <th>FECHA:</th>
              <td>{{project.date}}</td>
            </tr>
        
          </tbody>
        </table>
      
      </div>
      <div class="col-md-6">
        
      </div>
      
    </div>

    <div class="row mb-2">
      <div class="col-md-6">

      </div>
      <div class="col-md-6 text-end">
        <a class="btn btn-success" href="{% url 'add_section' project.id %}" > Agregar section</a>
      </div>
  
    </div>
    <div class="row mb-2">

      
     {% include 'components/offer_comp/body.html' %}

     
    </div>

    <div class="row mb-2">
      
      {% include 'components/offer_comp/subtotals.html' %}
     

    </div>

    
    

</div>
<script>

  const form_controls = document.querySelectorAll(".form-control")
  const btn_offer_save = document.getElementById("btn-offer-save")
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const subtotal = document.getElementById('subtotal')
  const input_descuento = document.getElementById('descuento')
  const input_valor_descuento = document.getElementById('valor-descuento')
  const subtotal_descuento = document.getElementById('subtotal-descuento')
  const descuento_admin = document.getElementById('descuento-admin')
  const descuento_admin_valor = document.getElementById('descuento-admin-valor')
  const descuento_imprevistos = document.getElementById('descuento-imprevistos')
  const descuento_imprevistos_valor = document.getElementById('descuento-imprevistos-valor')
  const descuento_utilidades = document.getElementById('descuento-utilidades')
  const descuento_utilidades_valor = document.getElementById('descuento-utilidades-valor')
  const subtotal_directo_indirecto = document.getElementById('subtotal_directo_indirecto')
  const iva_utilidad = document.getElementById('iva_utilidad')
  const iva_utilidad_valor = document.getElementById('iva_utilidad_valor')
  const valor_total = document.getElementById('valor_total')
  const subtotals = document.querySelectorAll("#subtotals")
  const sections = document.querySelectorAll("#sections")
  // const csrfToken = null


  function post(url, data, csrfToken) {

  axios
    .post(url, data, {
      headers: {
        "X-CSRFToken": csrfToken,
      },
    })
    .then(function (response) {
      // document.getElementById('mensaje').innerText = response.data.mensaje;
      // console.log(response.data.subtotal);
      subtotal.value = response.data.subtotal
      input_valor_descuento.value = response.data.valor_descuento
      subtotal_descuento.value = response.data.subtotal_desc
      descuento_admin_valor.value = response.data.descuento_admin_valor
      descuento_imprevistos_valor.value = response.data.descuento_imprevistos_valor
      descuento_utilidades_valor.value = response.data.descuento_utilidades_valor
      subtotal_directo_indirecto.value = response.data.subtotal_directo_indirecto_valor
      iva_utilidad_valor.value = response.data.iva_utilidad_valor
      valor_total.value = response.data.valor_total
      subtotal_modules.value = response.data.subtotal_modules
      
      
    })
    .catch(function (error) {
    
    });


}
   

  form_controls.forEach((form)=>{

      form.addEventListener("keyup",(e)=>{

      const tr = form.parentElement.parentElement
      const input_decription = tr.querySelector('td input[name="description"]')
      const input_total_value = tr.querySelector('td input[name="total_value"]')
      const input_quantity = tr.querySelector('td input[name="quantity"]')
      const input_unit_value = tr.querySelector('td input[name="unit_value"]')
      const total_values = document.querySelectorAll('[name="total_value"]')
      const input_valor_con_descuento = document.getElementById('valor-con-descuento')
      



      if (input_quantity.value | input_unit_value.value ){
        var new_total_value = input_quantity.value * input_unit_value.value
        input_total_value.value = new_total_value
      }
       
      })
             
  })

  function sendOffer(){
    const items = []
    const ids = new Set()


    const total_value_per_section_array = []
    
    sections.forEach((section) =>{

      const obj = {}

      var total_value_per_section = 0



      form_controls.forEach((form)=>{
  
        if(form.dataset.parent && form.id === "product"  ){

          if( form.dataset.parent === section.dataset.id ){

            total_value_per_section += parseFloat(form.value) 

          }
          

        }
      })

      obj.section_id = section.dataset.id
      obj.total_value = total_value_per_section
       
      total_value_per_section_array.push(obj)
      
    })


    subtotals.forEach((subtotal)=>{
      for(const obj of total_value_per_section_array){
        if( subtotal.dataset.parent === obj.section_id ){

          subtotal.value = obj.total_value


        }

      }
    })



    form_controls.forEach((form)=>{

       
       
      if(form.dataset.id){

        ids.add(form.dataset.id)
      }
            
    })
    for(const id of ids){
      const obj ={}

          form_controls.forEach((form)=>{

            if( form.dataset.id){
               
                if(id === form.dataset.id ){

                    obj.id = id

                    if(form.name === "title"){
                      
                      obj.title = form.value

                    }

                    if(form.name === "description"){
                      
                      obj.description = form.value

                    }

                    if(form.name === "measure"){
                      
                      obj.measure = form.value

                    }
                    if(form.name === "quantity"){
                      
                      obj.quantity = form.value

                    }
                    
                    if(form.name === "unit_value"){
                      obj.unit_value = form.value

                    }

                    if(form.name === "total_value"){
                      obj.total_value = form.value

                    }
                  }

                }
                
              })
        items.push(obj)
    }

    data = {
      items:items,
      descuento:input_descuento.value,
      descuento_admin: descuento_admin.value,
      descuento_imprevistos: descuento_imprevistos.value,
      descuento_utilidades: descuento_utilidades.value,
      iva_utilidad:iva_utilidad.value
    }
    
   
    post("/save_offer_item/",data,csrfToken)
  }
  


  document.addEventListener("keydown", function (event) {
  // Verificar si la tecla Control y la tecla S están presionadas
  if (event.ctrlKey && event.key === "s") {
    // Prevenir la acción predeterminada del navegador (guardar página)
    event.preventDefault();
    sendOffer();
  }
});
  btn_offer_save.addEventListener("click",()=>{

    

    sendOffer()
    // location.reload();

  })
  
</script>



<script>


const csrfToken_ = document.querySelector('[name=csrfmiddlewaretoken]').value;
// const csrfToken_ = null
const btn_add_to_order = document.querySelectorAll("#btn-add-to-order")

function post2(url, data, csrfToken) {

axios
  .post(url, data, {
    headers: {
      "X-CSRFToken": csrfToken,
    },
  })
  .then(function (response) {
    // document.getElementById('mensaje').innerText = response.data.mensaje;
    // console.log(response.data.subtotal);
    
    btn_add_to_order.forEach(btn=>{
      if(btn.dataset.id == response.data.item_id){
        
        if(response.data.status){
          btn.classList.remove("btn-success")
          btn.classList.add("btn-danger")
        }else{
          btn.classList.remove("btn-danger")
          btn.classList.add("btn-success")
        }

      }
    })
    
  })
  .catch(function (error) {
    // document.getElementById('mensaje').innerText = 'Error: ' + error.response.data.mensaje;
    console.log(error.response.data.mensaje);
  });
  }

  
  btn_add_to_order.forEach(btn => {

    btn.addEventListener("click",(e)=>{

      data = {
        item_id:btn.dataset.id,
      }

      post2("/change_to_purcharse_order/",data,csrfToken_)

    })

    
    
  });

</script>
{% endblock %}