{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  </head>

     <div class="container-flow m-2">
        <div class="row mb-4">
          <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">T&S INC</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                  <a class="nav-link" href="http://localhost:8000/admin">Panel Admin</a>
                  <a class="nav-link" href="{% url 'product' %}">Inventario</a>
                  <a class="nav-link" href="{% url 'offer' %}">Generar una Oferta</a>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Salir</button>
                  </form>
                  <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ofertas</a> -->
                </div>
              </div>
            </div>
          </nav>
       
          <div class="col">
           
          </div>
          <div class="col-8">
         
           
          </div>
          <div class="col">
           
          </div>
        </div>
    
      
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <!-- <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
          <ol class="breadcrumb p-2">
            {% for name, url in breadcrumbs %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ url }}">{{ name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol> -->
      </nav>
        </div>
        <div class="col-4"></div>
      </div>
      
        <div class="row">
       
          {% block body %} {% endblock %}
        </div>
        
     </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <footer class="bg-dark mt-4 d-flex justify-content-center">

      <div class="p-4">© 2017–2021 T&S INC. Tel:+573045644316. Email:duvanceliz@tsinc.com.co
      </div>
  
  </footer>
    
  </body>
  
</html>
