{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load static %} {% load humanize %}

<div class="container">
   
  {% include 'components/alert.html' %}
        <div class="row mb-4">
            <div class="col-md-8">
                <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb">
                            {% include 'workspace_comp/breadcrumb.html' with folder=folder %}
                             <li class="breadcrumb-item">
                                {{folder.name}}
                             </li>
                        </ol>
                    </nav>
                    
                
            </div>
            <div class="col-md-4">
             

            </div>
            
        </div>

        <div class="row mb-4">
           <div class="col-md-6">
            {% include 'workspace_comp/form_update_folder.html' with  folder=folder project=folder.project %}

           </div>
           <div class="col-md-6 d-flex flex-row gap-2 justify-content-end">


            {% if folder.project %}
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                Proyecto <i class="bi bi-gear"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'tabs' folder.project.id %}" >Ver Tableros</a></li>
                <li><a class="dropdown-item" href="{% url 'edit_project' folder.project.id %}" >Editar Proyecto</a></li>
                <li><a class="dropdown-item" href="{% url 'upload_folder_file' folder.id %}" >Cargar archivo</a></li>
                <li><a class="dropdown-item" href="{% url 'delete_obj' folder.project.id %}" onclick="return verificar()">Eliminar</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                Puntos <i class="bi bi-gear"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                <li><a class="dropdown-item" href="{% url 'modify_points' folder.project.id %}" >Ver o Editar Puntos</a></li>
                <li><a class="dropdown-item" href="{% url 'download_points' folder.project.id %}" >Descargar puntos</a></li>

              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                Oferta <i class="bi bi-gear"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'edit_offer' folder.project.id %}" >Ver o Editar oferta</a></li>
                <li><a class="dropdown-item" href="{% url 'generate_offer' folder.project.id %}" >Generar oferta</a></li>
                <li><a class="dropdown-item" href="{% url 'download_offer' folder.project.id %}" >Descargar oferta</a></li>
              </ul>
            </div>
            {% endif %}

          
           </div>

        </div>

        

        {% if folder.project %}

        

            <div class="row mb-4">

                <div class="col-md-4">
                    
                    {% include 'workspace_comp/project_info.html' with project=folder.project %}
        
                </div>
                <div class="col-md-4">
             
                </div>

                <div class="col-md-4">
                    
                </div>


            </div>



            {% include 'workspace_comp/info_total_offer.html' %}

            <div class="row mb-4">

              {% include 'workspace_comp/project_task.html' %}


            </div>


            <div class="row mb-4">

                <div class="col-md-6">
                    
                    {% include 'workspace_comp/project_remissions.html' with remissions=remissions project=folder.project %}

                </div>
                <div class="col-md-6">
                    {% include 'workspace_comp/project_invoices.html' with invoices=invoices project=folder.project %}

                </div>
              
            </div>

            <div class="row mb-4">

                <div class="col-md-6">
                    
                    {% include 'workspace_comp/project_order.html' with orders=orders project=folder.project %}
        
                </div>
                <div class="col-md-6">

                   
                
                        {% include 'workspace_comp/project_documents.html' with files=files %}
        
                 
                </div>
              
            </div>
           
            

        {% endif %}

        
        
        {% if children %}
        <div class="row mb-4">

            <div class="col-md-4">
                
                {% include 'overview_comp/summary_folders.html' with children=children %}
    
            </div>
            
          
        </div>

        {% include 'workspace_comp/info_total_offer.html' %}


        {% endif %}
    
   
</div>

<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const data = {
  labels: [
    'Total Facturado',
    'Total Pendiente',
  ],
  datasets: [{
    label: 'Total Facturado vs Restante',
    data: [{{offer_info.total_invoiced}}, {{offer_info.total_value_remaining}}],
    backgroundColor: [
      '#1ca568',
      '#d0b514',
    ],
    hoverOffset: 4
  }]
};


const config = {
  type: 'doughnut',
  data: data,
};
new Chart(ctx, config);


const ctx2 = document.getElementById('myChart2').getContext('2d');
    const data2 = {
  labels: [
    'Total Facturado',
    'Total Pendiente',
  ],
  datasets: [{
    label: 'Total Facturado vs Restante',
    data: [{{total_info_order.total_invoiced}}, {{total_info_order.total_remaining_invoiced}}],
    backgroundColor: [
      '#2e9195',
      '#e04c89',
    ],
    hoverOffset: 4
  }]
};


const config2 = {
  type: 'doughnut',
  data: data2,
};
new Chart(ctx2, config2);
</script>



{% endblock %}