{% extends 'layout.html' %} {% block body %}  {% load static %}{% load humanize %}



<div class="container">
  
  <div class="row mb-2">
    <div class="col-md-4 text-center">
      <a class="btn btn-primary  m-2" href="{% url 'create_product' %}"><i class="bi bi-plus-circle"></i></a>
      <a class="btn btn-success  m-2" href="{% url 'uploadproducts' %}"><i class="bi bi-cloud-upload"></i></a>
      <a class="btn btn-success  m-2" href="{% url 'download_products' %}"><i class="bi bi-cloud-download"></i></a>
      <a class="btn btn-primary  m-2" id="loader" href="{% url 'product_statictics' %}"><i class="bi bi-clipboard-data"></i></a>
    </div>

    <div class="col-md-4">
      <form action="{% url 'save_trm' %}" method="post" class="d-flex">
        {% csrf_token %}
        <label for="trm-input">TRM:</label>
        <input class="form-control form-control-sm w-50 mx-2" id="trm-input" type="number" value="{{currency.value}}" min="1" name="trmvalue" step="any">
         <button type="submit" class="btn btn-primary btn-sm" id="loader"><i class="bi bi-floppy"></i></button>
      </form>
      
    </div>

    <div class="col-md-4">
      <form id="form-search">
        <input id="input-search" type="text" name="search"/>
        <button id="btn-search" class="btn btn-primary m-2" type="submit">
          Buscar
        </button>
      </form>
    </div>

    
  </div>
    <div class="row">
      
      
      <div class="col-12">
        



        {% if messages %}
          
        {% for message in messages %}
  
            {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
            {{ message }} <a href="{% url 'carpage' %}">Ver Carrito</a>
            </div>
            {% endif %}
  
            {% if message.tags == 'info' %}
            <div class="alert alert-warning" role="alert">
            {{ message }}
            </div>
            {% endif %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
            {% endif %}
  
        {% endfor %}
    
    
    {% endif %}
  
        <table class="table table-hover table-light ">
          <thead>
            
        
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Producto</th>
              <th scope="col">Modelo</th>
              <th scope="col">Marca</th>
           
              <th scope="col">Cantidad</th>
              
              <th scope="col">Precio(compra)</th>
              <th scope="col">Precio(venta)</th>
              <th scope="col">Archivos</th>
              <th scope="col">Bandera</th>
              <th scope="col"></th>
              
            </tr>
          
          </thead>
          <tbody>
            <tr>
              {% for product in page_obj %}
              <td >
                {{product.code}}
              </td>
              <td style="width: 50px;">{{product.product_name}}</td>
              <td >
                {{product.model}}
              </td>
              <td >
                {{product.brand}}
              </td>
            
              <td >
                {{product.quantity}}
              </td>

              <td >
                {{product.purcharse_price|intcomma}}
              </td>
              
              <td >
                {{product.sale_price|intcomma}}
              </td>

              {% for file_info in product_files_info %}
                {%  if file_info.product_id == product.id  %}
                <td>{{file_info.quantity}}<i class="bi bi-file-earmark-text"></i></td>
                {% endif %}
                {% endfor %}

              <td>
                
                {% if product.quantity >= product.min_stock  %}
              
                <span class="bg-success">
                  <i class="bi bi-flag"></i>
                </span>
                
                {% else %}
                <span class="bg-danger">
                  <i class="bi bi-flag"></i>
                  </span>
                {% endif %}
               
                
              </td>
 
              
              <td>
                <a class="btn btn-primary btn-sm"  href="{% url 'product_info' product.id  %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles de producto"> <i class="bi bi-box-arrow-right"></i></a>

                <a class="btn btn-success btn-sm"    href="{% url 'edit_product' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar producto"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'upload_product_file' product.id %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Subir un archivo"><i class="bi bi-file-earmark-arrow-up"></i></a>

                <a class="btn btn-success btn-sm"    href="{% url 'add_product_to_box' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al carrito"><i class="bi bi-plus-circle"></i></a>
                <a class="btn btn-danger btn-sm"   href="{% url 'delete_product' product.id %}" onclick="return confirm_delete_product()"> 
                  <i class="bi bi-trash"></i>
                </a>


              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      
        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; Primero</a>
                  <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
              {% endif %}
      
              <span class="current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
              {% endif %}
          </span>
      </div>
      </div>
      
    </div>
  </div>
 
  <script src="{% static 'js/confirm.js' %}"></script>


 
  
{% endblock %}