{% extends 'layout_with_folder_tree.html' %} {% block body %}{% load humanize %}


<div class="container">

    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card" style="height: 8rem;">
                <div class="card-body text-center p-4">

                    <p class="fs-6 fw-bold m-0 text-secondary">
                          TOTAL EN INVENTARIO(USD)
                    </p>
                    
                    <p class="fw-bold text-success">
                        <i class="bi bi-currency-dollar"></i>{{total_inventory|intcomma}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="height: 8rem;">
                <div class="card-body text-center p-4">

                    <p class="fs-6 fw-bold m-0 text-secondary">
                          TOTAL EN INVENTARIO(COP)
                    </p>
                    
                    <p class=" fw-bold text-success">
                        <i class="bi bi-currency-dollar"></i> {{total_inventory_cop|intcomma}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">

        </div>
    </div>

   <div class="row mb-4">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <h5 class="fs-5">Productos por agotarse:</h5>
                
            </div>
            <div class="card-body">

                <ul class="list-group d-flex justify-content-between">
                    {% for prod_s in product_out_stock_ %}
                    
                    <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-bold">Model:</span> {{prod_s.product.model}} 
                    <span class="fw-bold">quantity:</span> {{prod_s.product.quantity}}
                        {% if prod_s.out_stock == 0 %}
                        <span class="bg-danger">
                        <i class="bi bi-flag"></i>
                        </span>
            
                        {% else %}
                        <span class="bg-success">
                        <i class="bi bi-flag"></i>
                        </span>
                        {% endif %}
                    <a href="{% url 'product_info' prod_s.product.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                    </li>

                    {% endfor %}

                  </ul>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <h5 class="fs-5">Productos que mas rotaron:</h5>
                
            </div>
            <div class="card-body">

                <ul class="list-group d-flex justify-content-between">
                    {% for prod_r in prod_rotations_ %}

                    <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-bold">Model:</span> {{prod_r.product.model}} 
                    <span class="fw-bold">Rataciones:</span> <span class="">{{prod_r.rotations}} <i class="bi bi-arrow-repeat"></i> </span> 
                    <a href="{% url 'product_info' prod_r.product.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                    </li>

                    {% endfor %}

                  </ul>
            </div>
        </div>
    </div>
   </div>


   <div class="row">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <h5 class="fs-5">Productos mas caros:</h5>
                
            </div>
            <div class="card-body">

                <ul class="list-group d-flex justify-content-between">
                    {% for prod in exp_prod %}

                    <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-bold">Model:</span> {{prod.model}} 
                    <span class="fw-bold">Precio:</span> {{prod.sale_price}}
                    
                    <a href="{% url 'product_info' prod.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                    </li>

                    {% endfor %}

                  </ul>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <h5 class="fs-5">Productos mas baratos:</h5>
                
            </div>
            <div class="card-body">

                <ul class="list-group d-flex justify-content-between">
                    {% for prod in cheaper_prod %}

                    <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-bold">Model:</span> {{prod.model}} 
                    <span class="fw-bold">Precio:</span> {{prod.sale_price}}  
                    <a href="{% url 'product_info' prod.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                    </li>

                    {% endfor %}

                  </ul>
            </div>
        </div>
    </div>
   </div>
    

</div>


{% endblock %}