{% extends 'layout.html' %} {% block body %}

<div class="container">
  <div class="row mb-2">
    <div class="col-2"><a class="btn btn-primary" href="{% url 'create_product' %}">Nuevo Producto</a></div>
    <div class="col-2"><a class="btn btn-success" href="{% url 'uploadproducts' %}">Importar Tabla</a></div>
    <div class="col-2"><a class="btn btn-success" href="{% url 'download_products' %}">Exportar Tabla</a></div>
    <div class="col-2"><a class="btn btn-primary" href="{% url 'product_statictics' %}">Ver Estadísticas</a></div>

    <div class="col-4">
      <form id="form-search">
        <input id="input-search" type="text" name="search"/>
        <button id="btn-search" class="btn btn-primary m-2" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </div>
    <div class="row">
      
      
      <div class="col-12">

        {% if messages %}
          
        {% for message in messages %}
  
            {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
            {{ message }} <a href="{% url 'remission' %}">Ir a generar una remisón</a>
            </div>
            {% endif %}
  
            {% if message.tags == 'info' %}
            <div class="alert alert-warning" role="alert">
            {{ message }}
            </div>
            {% endif %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
            {% endif %}
  
        {% endfor %}
    
    
    {% endif %}
  
        <table class="table table-hover table-light">
          <thead>
            
        
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Producto</th>
              <th scope="col">Modelo</th>
              <th scope="col">Marca</th>
           
              <th scope="col">Cantidad</th>
              
              <th scope="col">Precio(compra)</th>
              <th scope="col">Precio(venta)</th>
              <th scope="col">Bandera</th>
              <th scope="col"></th>
              
            </tr>
          
          </thead>
          <tbody>
            <tr>
              {% for product in page_obj %}
              <td>
                {{product.code}}
              </td>
              <td>{{product.product_name}}</td>
              <td>
                {{product.model}}
              </td>
              <td>
                {{product.brand}}
              </td>
            
              <td>
                {{product.quantity}}
              </td>

              <td>
                {{product.purcharse_price}}
              </td>
              
              <td>
                {{product.sale_price}}
              </td>

              <td>
                {% for flag in flags %}
                {% if flag.id == product.id %}
                {% if flag.value >= 3 %}
                <span class="bg-success">
                  <i class="bi bi-flag"></i>
                </span>
                {% elif flag.value >= 2  and flag.value < 3 %}
                <span class="bg-warning">
                  <i class="bi bi-flag"></i>
                 
                  </span>

                {% elif flag.value >= 0  and flag.value < 2 %}
                <span class="bg-danger">
                  <i class="bi bi-flag"></i>
                  </span>
                {% endif %}
                {% endif %}
                {% endfor %}
                
              </td>
 
              
              <td>
                <a class="btn btn-primary btn-sm" href="{% url 'product_info' product.id  %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles de producto"> <i class="bi bi-box-arrow-right"></i></a>

                <a class="btn btn-success btn-sm"   href="/editproduct/?id={{product.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar producto"><i class="bi bi-pencil-square"></i></a>

                <a class="btn btn-danger btn-sm" href="{% url 'delete_product' product.id %}" onclick="return confirm_delete_product()"> 
                  <i class="bi bi-trash"></i>
                </a>

                <a class="btn btn-success btn-sm"   href="{% url 'add_product_to_box' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar al carrito"><i class="bi bi-plus-circle"></i></a>

              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      
        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; Primero</a>
                  <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
              {% endif %}
      
              <span class="current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
              {% endif %}
          </span>
      </div>
      </div>
      
    </div>
  </div>
  {% load static %}
  <script src="{% static 'js/confirm.js' %}"></script>

{% endblock %}