
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load humanize %}

<div class="container bg-light p-5">

  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body d-flex flex-column text-center">
          <span class="fs-6 fw-bold">Rotaciones: </span>
          <span class="fs-3 fw-light">{{rotations}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body d-flex flex-column text-center">
          <span class="fs-6 fw-bold">Entradas Totales: </span>
          <span class="fs-3 fw-light">{{total_entrys}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body d-flex flex-column text-center">
          <span class="fs-6 fw-bold">Salidas Totales: </span>
          <span class="fs-3 fw-light">{{total_shippeds}}</span>
        </div>
      </div>
    </div>
    
  </div>

 <div class="row mb-4">
    
    <div class="col-md-4">
        <ul class="list-group">
               
            <li class="list-group-item"><strong>Codigo: </strong>{{product.code}}</li>
            <li class="list-group-item"><strong>Nombre: </strong>{{product.product_name}}</li>
            <li class="list-group-item"><strong>Modelo: </strong>{{product.model}}</li>
            <li class="list-group-item"><strong>Marca: </strong>{{product.brand}}</li>
            <li class="list-group-item"><strong>Ubicación: </strong>{{product.location}}</li>
            <li class="list-group-item"><strong>Stock minimo: </strong>{{product.min_stock}}</li>
            <li class="list-group-item"><strong>Cantidad: </strong>{{product.quantity}}</li>
            <li class="list-group-item"><strong>Puntos: </strong>{{product.point}}</li>
            <li class="list-group-item"><strong>Precio de venta (USD): </strong>{{product.sale_price|intcomma}}</li>
            <li class="list-group-item"><strong>Precio de venta (COP): </strong>{{product.sale_price_cop|intcomma}}</li>
            <li class="list-group-item"><strong>Precio de compra (USD): </strong>{{product.purcharse_price|intcomma}}</li>
            <li class="list-group-item"><strong>Precio de compra (COP): </strong>{{product.purcharse_price_cop|intcomma}}</li>
            <li class="list-group-item"><strong>Descripción: </strong>{{product.description}}</li>
            <li class="list-group-item"><strong>Observacion: </strong>{{product.observation}}</li>
            <li class="list-group-item"><strong>IVA: </strong>{{product.iva}}</li>
         
          </ul>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="header text-center">
          <span class="fs-5">Entradas recientes</span>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-light">
          <thead>
            
        
            <tr>
              <th scope="col"></th>
              <th scope="col">Orden</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio(und)</th>
              <th scope="col">Fecha</th>
              <th scope="col"></th>
              

            </tr>
          
          </thead>
          <tbody>
            <tr>
              {% for entry in orderentry %}
  
              <td class="bg-success"></td>
              <td>{{entry.order.code}}</td>
              <td>{{entry.quantity}}</td>
              {% if not entry.order.currency %}
              <td>(USD) {{entry.price|intcomma}}</td>
              {% else %}
              <td>(COP) {{entry.price|intcomma}}</td>
              {% endif %}
              <td>{{entry.date|naturaltime}}</td>
              <td><a href="{% url 'order_product_info' entry.order.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a></td>
              
             
            </tr>
  
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="header text-center">
          <span class="fs-5">Salidas recientes</span>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-light">
          <thead>
          
            <tr>
              <th scope="col"></th>
           
              <th scope="col">Remisión</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio(und)</th>
              <th scope="col">Fecha</th>
              <th scope="col"></th>
            </tr>
          
          </thead>
          <tbody>
            <tr>
              {% for product in products_shipped %}
  
              <th class="bg-danger"></th>
              
              <th>{{product.remission.number}}</th>
              <td>{{product.quantity}}</td>
              <td>(USD) {{product.price|intcomma}}</td>
              <td>{{product.remission.date|naturaltime}}</td>
              <td><a href="{% url 'product_remission' product.remission.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a></td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
 </div>
 <div class="row">
  <div class="col-md-4">

    <div class="card">
      <div class="card-header fw-bold">
        ARCHIVOS RELACIONADOS
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-light">
        <thead>
          
      
          <tr>

            <th scope="col">Nombre</th>
            <th scope="col">Tiempo de carga</th>
            <th ></th>
          </tr>
        
        </thead>
        <tbody>
          <tr>
            {% for file in product_files %}


            <td>{{file.name}}</td>
            <th>{{file.date|naturaltime}}</th>
             <th>
              <a href="{% url 'view_file' file.id 'p' %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
              <a class="btn btn-danger btn-sm" href="{% url 'delete_product_file' file.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar la remisión" onclick="return confirm_delete_remission()"> <i class="bi bi-trash"></i> </a>

             </th>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-6"></div>

</div>
 
    
  </div>

{% endblock %}

