
{% extends 'layout.html' %} {% block body %}{% load humanize  %}

<div class="container">
    <div class="row mb-4">

        <div class="col-md-6">
          <div class="card">
            <div class="card-header fw-bold">
              INFORMACÓN DE REMISIÓN
            </div>
          </div>
            <ul class="list-group">

                <li class="list-group-item"><strong>Numero de remisión: </strong>{{remission.number}}</li> 
                <li class="list-group-item"><strong>Numero de pedido: </strong>{{remission.order_number}}</li> 
                <li class="list-group-item"><strong>Razón Social: </strong>{{remission.company}}</li>
                <li class="list-group-item"><strong>Ciudad: </strong>{{remission.city}}</li>
                <li class="list-group-item"><strong>NIT: </strong>{{remission.nit}}</li>
                <li class="list-group-item"><strong>Dirección: </strong>{{remission.location}}</li>
                <li class="list-group-item"><strong>Obra: </strong>{{remission.project}}</li>
                <li class="list-group-item"><strong>Responsable: </strong>{{remission.responsible}}</li>
                <li class="list-group-item"><strong>Observación: </strong>{{remission.observation}}</li>
                <li class="list-group-item"><strong>Fecha: </strong>{{remission.date}}</li>
              </ul>

        </div>
   
       <div class="col-md-6">
       
        <div class="table-responsive">
          <table class="table table-hover table-light">
            <thead>
              
          
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripción</th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for product in products %}
    
                <th scope="row">{{product.id}}</th>
                <td>{{product.product.product_name}}</td>
                <th>{{product.product.model}}</th>
                <td>{{product.quantity}}</td>
                <td>{{product.product.description}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
       </div>

      
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="card">
          <div class="card-header fw-bold">
            ARCHIVOS RELACIONADOS
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-light">
            <thead>
              
          
              <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Tiempo de carga</th>
                <th ></th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for file in remissionfiles %}
    

                <td>{{file.name}}</td>
                <th>{{file.date|naturaltime}}</th>
                 <th>
                  <a href="{% url 'view_file' file.id 're' %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                  <a class="btn btn-danger btn-sm" href="{% url 'delete_remission_file' file.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar la remisión" onclick="return confirm_delete_remission()"> <i class="bi bi-trash"></i> </a>

                 </th>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>

      </div>
      <div class="col-md-6"></div>
  
    </div>
  </div>

{% endblock %}