
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load humanize %} {% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      <form id="form-search">
        <input id="input-search" type="text" name="search"/>
        <button id="btn-search" class="btn btn-primary m-2" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </div>
    <div class="row">
   
       <div class="col-md-12">
        {% include 'components/alert.html' %}
        
          <table class="table table-hover table-light">
            <thead>
            
              <tr>
               
                <th scope="col" id="table-titles">Creado por:</th>
                <th scope="col" id="table-titles">OP Code</th>
                <th scope="col" id="table-titles">Proyecto</th>
                <th scope="col" id="table-titles">Tracking</th>
                <th scope="col" id="table-titles">Proveedor</th>
                <th scope="col" id="table-titles">Precio(total)</th>
                <th scope="col" id="table-titles">Archivos</th>
                <th scope="col" id="table-titles">Facturación</th>
                <th scope="col" id="table-titles">Recibido</th>
                <th scope="col" id="table-titles">Fecha</th>
                
                <th></th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for order in orders %}
    
           
                <td id="table-columns">{{order.usersession}}</td>
                <td id="table-columns"><a href="{% url 'order_product_info' order.id %}">{{order.code}}</a></td>
                <td id="table-columns">{{order.project.name}}</td>
                <td id="table-columns">{{order.tracking}}</td>
                <td id="table-columns">{{order.supplier}}</td>
                {% if  not order.currency %}
                <td id="table-columns">(USD) {{order.total_price|intcomma|floatformat:2}}</td>
                {% else %}
                <td id="table-columns">(COP) {{order.total_price|intcomma|floatformat:2}}</td>
                {% endif %}
                 {% for file in order_files_info  %}
                 {% if file.order_id == order.id  %}
                 {% if file.quantity == 0 %}
                 <td id="table-columns">{{file.quantity}}<i class="bi bi-file-earmark-text bg-danger rounded-3 text-white"></i> </td>
                 {% else %}
                 <td id="table-columns">{{file.quantity}}<i class="bi bi-file-earmark-text bg-success rounded-3 text-white"></i> </td>

                 {% endif %}
                 {% endif %}
                {%endfor%}

                
                <td>
                  {% for bi in billing %}
                  {% if bi.order_id == order.id %}
                  {% if bi.progress == 100 %}
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{bi.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{bi.progress}}%</div>
                  </div>
                  {% elif bi.progress >= 50 and bi.progress < 100 %}
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{bi.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{bi.progress}}%</div>
                  </div>
                  {% else %}
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{bi.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{bi.progress}}%</div>
                  </div>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </td>

                <td>
                  {% if order.progress == 100 %}
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{order.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{order.progress}}%</div>
                  </div>
                  {% elif order.progress >= 50 and order.progress < 100 %}
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{order.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{order.progress}}%</div>
                  </div>
                  {% else %}
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{order.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{order.progress}}%</div>
                  </div>
                  {% endif %}
                </td>
                <td id="table-columns">{{order.date|date:"d/m/Y"}}</td>
                
                <td>
                  
                  <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                      <i class="bi bi-gear"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="{% url 'order_product_info' order.id %}" >Ver o Editar</a></li>
                      <li><a class="dropdown-item" href="{% url 'duplicate_order'  order.id %}" >Duplicar</a></li>
                      <li><a class="dropdown-item" href="{% url 'create_order_entry' order.id %}" >Registrar entrada</a></li>
                      <li><a class="dropdown-item" href="{% url 'upload_order_file' order.id %}" >Cargar archivo</a></li>
                      <li><a class="dropdown-item" href="{% url 'create_order_invoice' order.id %}" >Facturación</a></li>
                      <li><a class="dropdown-item" href="{% url 'download_order' order.id %}" >Descargar</a></li>
                      <li><a class="dropdown-item" href="{% url 'delete_order' order.id %}" onclick="return confirm_delete_order()">Eliminar</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              
              {%endfor%}
            </tbody>
          </table>
        </div>
        
      
       <div class="pagination">
        <span class="step-links">
            {% if orders.has_previous %}
                <a href="?page=1">&laquo; Primero</a>
                <a href="?page={{ orders.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ orders.number }} de {{ orders.paginator.num_pages }}.
            </span>
    
            {% if orders.has_next %}
                <a href="?page={{ orders.next_page_number }}">Siguiente</a>
                <a href="?page={{ orders.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
      
    </div>
  </div>

  <script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}