
{% extends 'layout.html' %} {% block body %} {% load humanize %} {% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      <form id="form-search">
        <input id="input-search" type="text" name="search"/>
        <button id="btn-search" class="btn btn-primary m-2" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </div>
    <div class="row">
   
       <div class="col-md-12">
        {% if messages %}
          
        {% for message in messages %}
  
            {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
            {{ message }} <a href="{% url 'remission' %}">Ir a generar una remisón</a>
            </div>
            {% endif %}
  
            {% if message.tags == 'info' %}
            <div class="alert alert-warning" role="alert">
            {{ message }}
            </div>
            {% endif %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
            {% endif %}
  
        {% endfor %}
    
    
    {% endif %}
        <a href="{% url 'order_statictics' %}" class="btn btn-primary btn-sm mb-2"> Ver Estadísticas</a>
        <div class="table-responsive">
          <table class="table table-hover table-light">
            <thead>
              
          
              <tr>
                <th scope="col">#</th>
                <th scope="col">Creado por:</th>
                <th scope="col">OP Code</th>
                <th scope="col">Tracking</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Precio(total)</th>
                <th scope="col">Archivos</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Recibido</th>
                <th></th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for order in orders %}
    
                <th scope="row">{{order.id}}</th>
                <th>{{order.usersession}}</th>
                <th>{{order.code}}</th>
                <th>{{order.tracking}}</th>
                <td>{{order.supplier}}</td>
                {% if  not order.currency %}
                <td>(USD) {{order.total_price|intcomma}}</td>
                {% else %}
                <td>(COP) {{order.total_price|intcomma}}</td>
                {% endif %}
                 {% for file in order_files_info  %}
                 {% if file.order_id == order.id  %}
                 <td>{{file.quantity}}<i class="bi bi-file-earmark-text"></i> </td>
                 {% endif %}
                {%endfor%}
                <td>{{order.date|naturaltime}}</td>
                <td>
                  {% if order.progress == 100 %}
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{order.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{order.progress}}%</div>
                  </div>
                  {% elif order.progress >= 50 and order.progress < 100 %}
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{order.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{order.progress}}%</div>
                  </div>
                  {% else %}
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{order.progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{order.progress}}%</div>
                  </div>
                  {% endif %}
                </td>
                <td>
                  <a class="btn btn-primary btn-sm" href="{% url 'order_product_info' order.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles de orden de compra"> <i class="bi bi-box-arrow-right"></i></a>
                  <a class="btn btn-success btn-sm" href="{% url 'edit_order' order.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar la orden de compra y sus productos"><i class="bi bi-pencil-square"></i></a>
                  <a href="{% url 'create_order_entry' order.id %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver o editar las entradas"><i class="bi bi-envelope-arrow-up"></i></a>
                  <a href="{% url 'upload_order_file' order.id %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Subir un archivo"><i class="bi bi-file-earmark-arrow-up"></i></a>
                  <a href="{% url 'download_order' order.id %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar orden de compra"><i class="bi bi-arrow-down-circle"></i></a>
                  <a class="btn btn-primary btn-sm" href="{% url 'duplicate_order'  order.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Duplicar orden de compra"><i class="bi bi-copy"></i></a>
                  <a class="btn btn-danger btn-sm" href="{% url 'delete_order' order.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar orden de compra" onclick="return confirm_delete_order()"> <i class="bi bi-trash"></i> </a>

                </td>
              </tr>
              
              {%endfor%}
            </tbody>
          </table>
        </div>
        
       </div>
       <div class="pagination">
        <span class="step-links">
            {% if orders.has_previous %}
                <a href="?page=1">&laquo; Primero</a>
                <a href="?page={{ orders.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ orders.number }} de {{ orders.paginator.num_pages }}.
            </span>
    
            {% if orders.has_next %}
                <a href="?page={{ orders.next_page_number }}">Siguiente</a>
                <a href="?page={{ orders.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
      
    </div>
  </div>

  <script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}