
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load humanize %} {% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      <form id="form-search">
        <input id="input-search" type="text" name="search"/>
        <button id="btn-search" class="btn btn-primary m-2" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </div>
    <div class="row">
   
       <div class="col-md-12">
        {% include 'components/alert.html' %}
        <a href="{% url 'order_statictics' %}" class="btn btn-primary btn-sm mb-2"> Ver Estadísticas</a>
        
          <div class="table-responsive-md">
          <table class="table table-hover table-light">
            <thead>
              
          
              <tr>
                <th scope="col">#</th>
                <th scope="col">Creado por:</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Orden</th>
                <th scope="col">Precio Pagado</th>
                <th scope="col">iva</th>
                <th scope="col">Rete fuente</th>
                <th scope="col">Rete ICA</th>
                <th scope="col">Fecha</th>
                <th></th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for invoice in order_invoices %}
    
                <td scope="row">{{invoice.id}}</td>
                <td>{{invoice.usersession}}</td>
                <td>{{invoice.order.project}}</td>
                <td>{{invoice.order}}</td>
                <td>{{invoice.value_paid}}</td>
                <td>{{invoice.iva|intcomma}}</th>
                <td>{{invoice.source_retention|intcomma}}</td>
                <td>{{invoice.ica_retention|intcomma}}</td>
                <td>{{invoice.date|date:"d/m/Y"}}</td>
                <td>
                  <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                      <i class="bi bi-gear"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="{% url 'create_order_invoice' invoice.order.id %}">Ver o Editar</a></li>
                      <li><a class="dropdown-item" href="{% url 'upload_order_invoice_file' invoice.id %}" >Cargar Archivo</a></li>
                      <li><a class="dropdown-item" onclick="return confirm_delete_entry()" href="{% url 'delete_order_invoice' invoice.id %}" >Eliminar</a></li>

                      <!-- <li><a class="dropdown-item" href="">Descargar</a></li> -->
                    </ul>
                  </div>
                
                </td>
              </tr>
              
              {%endfor%}
            </tbody>
          </table>
    
        </div>
       </div>
       <div class="pagination">
        <span class="step-links">
            {% if invoices.has_previous %}
                <a href="?page=1">&laquo; Primero</a>
                <a href="?page={{ invoices.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ invoices.number }} de {{ invoices.paginator.num_pages }}.
            </span>
    
            {% if invoices.has_next %}
                <a href="?page={{ invoices.next_page_number }}">Siguiente</a>
                <a href="?page={{ invoices.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
      
    </div>
  </div>

  <script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}