
{% extends 'layout_with_folder_tree.html' %} {% block body %} {% load humanize%}

<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-6">
      <form id="form-search">
        <input id="input-search" type="text" name="search"/>
        <button id="btn-search" class="btn btn-primary m-2" type="submit">
          Buscar
        </button>
      </form>
    </div>
  </div>
    <div class="row">
   
       <div class="col-md-12">

          {% include 'components/alert.html' %}


          <div class="table-responsive-md">

          
       
        
          <table class="table table-hover table-light">
            <thead>
  
              <tr>
                
                <th scope="col" id="table-titles">Generada por:</th>
                <th scope="col" id="table-titles">#</th>
                <th scope="col" id="table-titles">Proyecto</th>
                <th scope="col" id="table-titles">Empresa</th>
                <th scope="col" id="table-titles">Ciudad</th>
                <th scope="col" id="table-titles">Proyecto/Obra</th>
                <th scope="col" id="table-titles">Archivos</th>
                <th scope="col" id="table-titles">Fecha</th>
                <th ></th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for remission in remissions %}
    
                
                <td id="table-columns">{{remission.usersession}}</td>
                <td id="table-columns"><a href="{% url 'show_remission' remission.id %}">{{remission.number}}</a></td>
                <td id="table-columns">{{remission.project.name}}</td>
                <td id="table-columns">{{remission.company}}</td>
                <td id="table-columns">{{remission.city}}</td>
                <td id="table-columns">{{remission.contruction_site}}</td>
                {% for file_info in remission_files_info %}
                {%  if file_info.remission_id == remission.id  %}
                {% if file_info.quantity == 0 %}
                <td id="table-columns" >{{file_info.quantity}}<i class="bi bi-file-earmark-text bg-danger text-white rounded-3"></i></td>
                {% else %}
                <td id="table-columns">{{file_info.quantity}}<i class="bi bi-file-earmark-text bg-success text-white rounded-3"></i></td>

                {% endif %}
                {% endif %}
                {% endfor %}
                <td id="table-columns">{{remission.date|date:"d/m/Y"}}</td>
                <td>
                
                  <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                      <i class="bi bi-gear"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item"  href="{% url 'show_remission' remission.id %}">Ver o Editar</a></li>
                      <li><a class="dropdown-item" href="{% url 'duplicate_remission' remission.id %}">Duplicar</a></li>
                      <li><a class="dropdown-item" href="{% url 'upload_remission_file' remission.id %}">Cargar archivo</a></li>
                      <li><a class="dropdown-item" href="{% url 'download_remission' remission.id %}">Descargar</a></li>
                      <li><a class="dropdown-item" href="{% url 'delete_remission' remission.id %}" onclick="return confirm_delete_remission()">Eliminar</a></li>
                    </ul>
                  </div>
                
                </td>


              </tr>
    
              {%endfor%}
            </tbody>
          </table>

        </div>
        
       </div>
       <div class="pagination">
        <span class="step-links">
            {% if remissions.has_previous %}
                <a href="?page=1">&laquo; Primero</a>
                <a href="?page={{ remissions.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ remissions.number }} de {{ remissions.paginator.num_pages }}.
            </span>
    
            {% if remissions.has_next %}
                <a href="?page={{ remissions.next_page_number }}">Siguiente</a>
                <a href="?page={{ remissions.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
      
      
    </div>
  </div>
  {% load static %}
  <script src="{% static 'js/confirm.js' %}"></script>
{% endblock %}