{% extends 'layout3.html' %} {% block body %}{% load humanize %}


<div class="container">


   <div class="row mb-4">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <h5 class="fs-5">Remisiones recientes:</h5>
                <a href="{% url 'remissions' %}" class="btn btn-primary btn-sm">Ver remisiones</a>
            </div>
            <div class="card-body">

                <ul class="list-group">
                    {% for remission in remissions %}
                    
                    <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <p class="fw-bold m-0">Empresa:</p> {{remission.company}}
                        </div>
                        <div class="col-4">
                            <p class="fw-bold m-0">Fecha:</p> {{remission.date|naturaltime}}
                        </div>
                        <div class="col-4 text-end">
                            <a href="{% url 'product_remission' remission.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>

                        </div>
                    </div>
                    
                    
                    </li>

                    {% endfor %}

                  </ul>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between">

                <h5 class="fs-5">Salidas reciende:</h5>
                
            </div>
            <div class="card-body">

                <ul class="list-group">
                    {% for p in prod %}
     
                    <li class="list-group-item">

                     <div class="row">
                        <div class="col-4">
                            <p class="fw-bold m-0">Model:</p> <p style="font-size: 0.8rem;">{{p.product.model}} </p>
                        </div>
                        <div class="col-4">
                            <p class="fw-bold m-0">Date:</p> <p style="font-size: 0.8rem;">{{p.remission.date|naturaltime}}</p> 

                        </div>
                        <div class="col-4 text-end">
                            <a href="{% url 'product_remission' p.remission.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>

                        </div>
                     </div>
                    
                    <!-- <span class="fw-bold">Cantidad:</span> <span class="">{{p.quantity}}</span>  -->
                    </li>

                    {% endfor %}

                  </ul>
            </div>
        </div>
    </div>
   </div>   

</div>


{% endblock %}