
{% extends 'layout_with_folder_tree.html' %} {% block body %}{% load humanize %}


<div class="container bg-light p-5">
   {% include 'components/alert.html'%}

    <div class="row mb-4">
      <h4 class="display-6">ORDEN DE COMPRA: {{order.code}}, PROYECTO: <a href="{% url 'overview_folder' folder.id %}">{{order.project}}</a></h4>

    </div>
  <div class="row mb-4">
       <div class="col-md-2 text-center">
        <div class="card">
          <div class="card-body d-flex flex-column">
            <span class="fw-bold" style="font-size: 0.6rem;">Precio Total ({{badge}}): </span>
            <span class="fs-3 fw-light">{{total_info.t_price|intcomma}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card">
          <div class="card-body d-flex flex-column">
            <span class="fw-bold" style="font-size: 0.6rem;">Entregado ({{badge}}): </span>
            <span class="fs-3 fw-light">{{total_info.d_price|intcomma}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card">
          <div class="card-body d-flex flex-column">

            {% if total_info.leftover != 0  %}
                <span class="fw-bold" style="font-size: 0.6rem;">Restante ({{badge}}):</span>
                <span class="fs-3 fw-light bg-danger px-2 rounded text-light">{{total_info.r_price|intcomma}}</span>
                {% else %}

                <span class="fw-bold" style="font-size: 0.6rem;">Restante ({{badge}}):</span>
                <span class="fs-3 fw-light bg-success px-2 rounded text-light">{{total_info.r_price|intcomma}}</span>

            {% endif %}

          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card">
          <div class="card-body d-flex flex-column">
            <span class="fw-bold d-flex flex-column" style="font-size: 0.6rem;">Cantidad Total:</span>
            <span class="fs-3 fw-light">{{total_info.t_quantity}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card">
          <div class="card-body d-flex flex-column">
            <span class="fw-bold" style="font-size: 0.6rem;">Entregado: </span>
            <span class="fs-3 fw-light">{{total_info.arrived}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card">
          <div class="card-body d-flex flex-column">
            {% if total_info.leftover != 0  %}
            <span class="fw-bold" style="font-size: 0.6rem;">Restante:</span>
            <span class="fs-3 fw-light bg-danger px-2 rounded text-light">{{total_info.leftover}}</span>
            {% else %}
            <span class="fw-bold" style="font-size: 0.6rem;">Restante:</span>
            <span class="fs-3 fw-light bg-success px-2 rounded text-light">{{total_info.leftover}}</span>
           {% endif %}
          </div>
        </div>
      </div>
    
  </div>

     <div class="row m-2">
      <div class="col-md-6">
  
        <span class="fs-4 fw-bolder">Tardo en entregar(todo): </span> 
        <span class="fs-3 fw-light">{{delivery_time}} días</span>
     
      </div>
      <div class="col-md-6">
  
     
  
      </div>
    </div> 

    {% include 'components/order_comp.html' with from=from_show_order %}

    
    <div class="row mb-4">

       
   
       <div class="col-md-12">

        <a href="{% url 'purcharse_order' %}" class=" btn btn-primary btn-sm mb-2">Volver</a>
        <a href="{% url 'carpage' %}" class=" btn btn-primary btn-sm mb-2">Ver Carrito</a>
        <a href="{% url 'add_car_order' order.id %}" class=" btn btn-success btn-sm mb-2">Agregar del carrito</a>
      
        <div class="accordion accordion-flush" id="accordionHVAC">
          {% for product in products %}
          
          <div class="accordion-item">
            <div class="accordion-header d-flex" id="flush-heading{{product.product.model}}">
              <button class="accordion-button collapsed p-0 " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{product.product.model}}" aria-expanded="false" aria-controls="flush-collapse{{product.product.model}}">
                {% for info in info_per_product %}
                {% if product.id == info.id %}
                
                   
                    <table class="table table-light table-sm ">

                      <thead>
                        <tr>
                          <th id="table-titles-two">Modelo</th>
                          <th id="table-titles-two">Cantidad</th>
                          <th id="table-titles-two">Precio(und)</th>
                          <th id="table-titles-two">Entragado</th>
                          <th id="table-titles-two">Restante</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <tr>
                          
                          <td id="table-columns" style="width: 300px;">{{product.product.model}}</td>
                          
                          <td id="table-columns">{{product.quantity}}</td>
                          
                          <td id="table-columns">{{product.price|intcomma}}</td>
                          
                          <td id="table-columns">{{info.t_quantity}}</td>
                          
                          <td id="table-columns">{{info.leftover}}</td>
                     
                        </tr>
                      </tbody>
                    </table>
               

                
                {% endif %}
                {% endfor %}
                
              </button>
              <a class="btn btn-danger btn-sm d-flex align-items-center" href="{% url 'delete_order_product' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar la remisión" onclick="return confirm_delete_order_product()"> <i class="bi bi-trash"></i> </a>

          </div>
            <div id="flush-collapse{{product.product.model}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{product.product.model}}" data-bs-parent="#accordionHVAC">
              <div class="accordion-body p-0">
                  <ul class="list-group">
                  {% for entry in orderentry %}
                  {% if product.id == entry.product.id %}
                  
                      <li class="list-group-item d-flex justify-content-between ">
                          <span>Entrada: {{entry.date|naturaltime}}</span>
                          <span>Producto: {{entry.product.product.model}}</span>
                          <span>Cantidad entregada: {{entry.quantity}}</span>
                            <a href="{% url 'entry_info' entry.id %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles de entrada"> <i class="bi bi-box-arrow-right"></i></a>
                           

                          </span>

                          
                      </li>
                  

                {% endif %}
                {% endfor %}
              </ul>
              </div>
            </div>
          </div>
         
         
        {% endfor %}
        </div>
      
       </div>

      
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="card">
          <div class="card-header fw-bold">
            ARCHIVOS RELACIONADOS
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-light">
            <thead>
              
          
              <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Tiempo de carga</th>
                <th ></th>
              </tr>
            
            </thead>
            <tbody>
              <tr>
                {% for file in orderfiles %}
    

                <td>{{file.name}}</td>
                <th>{{file.date|naturaltime}}</th>
                 <th>
                  <a href="{% url 'view_file' file.id %}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                  <a class="btn btn-danger btn-sm" href="{% url 'delete_file' file.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar la remisión" onclick="return confirm_delete_remission()"> <i class="bi bi-trash"></i> </a>

                 </th>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>

      </div>
      <div class="col-md-6"></div>
  
    </div>
  </div>

{% endblock %}