{% extends 'layout_with_folder_tree.html' %} {% block body %}

<div class="container">
  <div class="row m-4">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if messages %}
          
          
              {% for message in messages %}

                {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
                {% endif %}

                {% if message.tags == 'info' %}
                <div class="alert alert-warning" role="alert">
                  {{ message }}
                </div>
                {% endif %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
                {% endif %}

              {% endfor %}
           
         
          {% endif %}

          <div class="card">
            <div class="card-header text-center">
              <h2>Subir archivo de remisión</h2>
            </div>
            <div class="card-body p-4">

              <form method="post" enctype="multipart/form-data" class="d-flex flex-column p-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Subir</button>
              </form>

              <a href="{% url 'order_product_info' order.id %}">Ver orden de compra</a>

            </div>
      </div>
      
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
