{% load humanize %}

<div class="col-md-2 mb-2">
    <div class="card">
      <div class="card-body d-flex flex-column text-center">
        <span class="fw-bold" style="font-size: 0.6rem;">Total Oferta</span>
        <span class="fs-3 fw-light">{{valor_total.total_value|floatformat:2|intcomma}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-body d-flex flex-column text-center">
        <span class="fw-bold" style="font-size: 0.6rem;">Facturado</span>
        <span class="fs-3 fw-light">{{offer_info.total_invoiced|floatformat:2|intcomma}}</span>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card">
      <div class="card-body d-flex flex-column text-center">
        <span class="fw-bold" style="font-size: 0.6rem;">Valor Restante</span>
          {% if offer_info.total_value_remaining == 0 %}
          <span class="fs-3 fw-light text-white bg-success">{{offer_info.total_value_remaining|floatformat:2|intcomma}}</span>
  
          {% else %}
    
          <span class="fs-3 fw-light text-white bg-danger" >{{offer_info.total_value_remaining|floatformat:2|intcomma}}</span>
          {% endif %}
        </div>
      </div>
    </div>
  <div class="col-md-2">
    
    <div class="card">
      <div class="card-body d-flex flex-column text-center">
        <span class="fw-bold" style="font-size: 0.6rem;">Total Productos</span>
        <span class="fs-3 fw-light">{{offer_info.total_product}}</span>
      </div>
    </div>

  </div>

  <div class="col-md-2">      
    <div class="card">
      <div class="card-body d-flex flex-column text-center">
        <span class="fw-bold" style="font-size: 0.6rem;">Total Entragados</span>
        <span class="fs-3 fw-light">{{offer_info.total_delivered}}</span>
      </div>
    </div>

  </div>
  <div class="col-md-2">      
    <div class="card">
      <div class="card-body d-flex flex-column text-center">
        <span class="fw-bold" style="font-size: 0.6rem;">Total Restantes</span>
        {% if offer_info.total_remaining == 0 %}
        <span class="fs-3 fw-light bg-success text-white">{{offer_info.total_remaining}}</span>
        {% else %}
        <span class="fs-3 fw-light bg-danger text-white">{{offer_info.total_remaining}}</span>

        {% endif %}
      </div>
    </div>
  </div>