  <div class="col-md-12">
     
    <div class="card-header text-center fw-bold" style="background: #c6c6c6;">
      SUBTOTAL
    </div>
    
    <table class="table bg-light table-bordered">
      
     
      
      <tbody>
        
        
        <tr>
          <td>

            
            SUBTOTAL SUMINISTROS Y DESARROLLO ( USD )     
             
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="0" 
            class="form-control form-control-sm"
            disabled
            >
          </td>
          <td >
            
            <input type="number" 
            value="{{subtotal.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="subtotal"
            >
          
          </td>
        </tr>

        
        <tr>
          <td>

            
            DESCUENTO   
             
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="{{descuento.porcent}}" 
            class="form-control form-control-sm"
            id="descuento"
            >
           
          </td>
          <td >
            
            <input type="number" 
            value="{{descuento.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="valor-descuento"
            >
          
          </td>
        </tr>
        <tr>
          <td>
            SUBTOTAL MENOS (-) DESCUENTO  
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="0" 
            class="form-control form-control-sm"
            disabled
            >
           
          </td>
          <td >
            
            <input type="number" 
            value="{{subtotal_descuento.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="subtotal-descuento"
            >
          
          </td>
        </tr>

        <tr>
          <td>

            
            ADMINISTRACIÓN 
             
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="{{admin_descuento.porcent}}" 
            class="form-control form-control-sm"
             id="descuento-admin"
            >
           
          </td>
          <td >
            
            <input type="number" 
            value="{{admin_descuento.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="descuento-admin-valor"
            >
          
          </td>
        </tr>


        <tr>
          <td>

            
            IMPREVISTOS
             
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="{{imprevistos.porcent}}" 
            class="form-control form-control-sm"
             id="descuento-imprevistos"
            >
           
          </td>
          <td >
            
            <input type="number" 
            value="{{imprevistos.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="descuento-imprevistos-valor"
            >
          
          </td>
        </tr>

        <tr>
          <td>
            UTILIDADES
             
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="{{utilidades.porcent}}" 
            class="form-control form-control-sm"
             id="descuento-utilidades"
            >
           
          </td>
          <td >
            
            <input type="number" 
            value="{{utilidades.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="descuento-utilidades-valor"
            >
          
          </td>
        </tr>


        <tr>
          <td>
            SUBTOTAL COSTO DIRECTO + INDIRECTO
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="0" 
            class="form-control form-control-sm"
             disabled
            >
           
          </td>
          <td >
            
            <input type="number" 
            value="{{subtotal_directo_indirecto.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="subtotal_directo_indirecto"
            >
          
          </td>
        </tr>

        <tr>
          <td>
            IVA/UTILIDAD
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="{{iva_utilidad.porcent}}" 
            class="form-control form-control-sm"
            id="iva_utilidad"
            >
          </td>
          <td >
            
            <input type="number" 
            value="{{iva_utilidad.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="iva_utilidad_valor"
            >
          
          </td>
        </tr>

        <tr>
          <td>
            VALOR TOTAL (USD) DÓLAR ESTADOUNIDENSE
          </td>
          <td style="width: 80px;">
            <input type="number" 
            value="0" 
            class="form-control form-control-sm"
            disabled
            >
          </td>
          <td >
            
            <input type="number" 
            value="{{valor_total.total_value|floatformat:2}}" 
            class="form-control form-control-sm"
            id="valor_total"
            >
          
          </td>
        </tr>
     
      </tbody>
      </table>
   
   </div>
  
   <div class="col-md-12 text-end">
    <a href="{% url 'download_offer' project.id %}" class="btn btn-success">Descargar</a>

    <a href="{% url 'create_order_from_offer' project.id %}" class="btn btn-success" type="submit">Generar Orden</a>
    
    <a href="{% url 'create_remission_from_offer' project.id %}" class="btn btn-success" type="submit">Generar Remisión</a>
    
    <a href="{% url 'create_invoice_from_offer' project.id %}" class="btn btn-success" type="submit">Generar Factura</a>

    <button class="btn btn-success" id="btn-offer-save" type="submit">Calcular y Guardar</button>

  </div>